---
url: get-the-basics/futures-and-options/index.html
title: Futures and Options - Futures Fundamentals
body:
  class: singular page page-id-151 page-child parent-pageid-6 page-template-default page--futures-and-options
mainDivClass: article
eyebrow: Get the Basics
headline: 'Futures and Options: Tools for Navigating Business and <span class="no-break">Financial Risk</span>'
related-links:
  links:
    -
      data: pdf.book-of-risk
      layout: horizontal
  econ-links:
    -
      data: lesson.intro
      layout: horizontal
article-pagination:
  next:
    name: Economics 101
    href: /get-the-basics/economics-101/
  prev:
    name: Introduction to Derivatives
    href: /get-the-basics/introduction-to-derivatives/
---

<div class="article_hero" style=" ">
  <img class="hero__image--desktop hidden-xs hidden-sm hidden-md" src="/assets/img/hero/futures_and_optns__desktop_fg.png" />
  <img class="hero__image--tablet hidden-xs visible-sm visible-md hidden-lg hidden-xl" src="/assets/img/hero/futures_and_optns__tablet_fg.png" />
  <img class="hero__image--mobile visible-xs hidden-md hidden-lg " src="/assets/img/hero/futures_and_optns__mobile_fg.png" />
</div>

{{#with page}}
  {{> page-headline }}
{{/with}}

<div class="container">
  <article id="post-119" class="post-119 page type-page status-publish hentry">
    <div class="cf-content">
      {{#> column-layout--default includeGlossary=true}}
        <p>When people and companies come to <em class="glossary__term">futures exchanges</em> to buy and sell <em class="glossary__term" data-term="commodity">commodities</em> and financial products, what they’re really trying to do is remove <em class="glossary__term" data-term="risk">risk</em> from their business or make money as an investor when prices fluctuate. Bottom line, they don’t know the future. But <em class="glossary__term" data-term="derivative">derivatives</em> like <em class="glossary__term" data-term="future">futures</em> and <em class="glossary__term" data-term="option">options</em> can help them protect their goals, even if prices move in the wrong direction.</p>
      {{/column-layout--default}}

      {{> brightcove-video id='futuresandoptions' vid-id='ref:131104vsarisk_futuresandoptions' }}
      <a name="{{ id }}"></a>
      
      {{#> callout-example icon='futures-icon'}}
        <p class="caption_subtitle futures-icon">A real world example</p>
        <p>In the summer of 2012, the United States experienced its most severe drought since the Dust Bowl of the 1930s. The drought had perhaps the biggest impact in the Midwest Corn Belt. As the season became dryer and hotter, corn farmers and country elevators that store corn for later sale bought corn futures at a certain price, for a certain date of sale. This guaranteed a level of profit, which helped plan for a year in which production and supply of their crop would most certainly be lower than normal.</p>
      {{/callout-example}}

      {{#with page.related-links}}
        {{> links-related-new }}
      {{/with}}

    </div>
  </article>
 
  {{> global--social-share}}

</div>
<!-- /.container -->

{{#with page.article-pagination}}
  {{> article-pagination}}
{{/with}}
