---
url: get-the-basics/heres-why-futures-matter-to-you/index.html
title: Futures and Options - Futures Fundamentals
body:
  class: singular page page-id-151 page-child parent-pageid-6 page-template-default page--heres-why-futures-matter-to-you
mainDivClass: article
eyebrow: Get the Basics
headline: Here’s Why Futures Matter to You
article-pagination:
  next: 
    name: Futures Products
    href: /see-the-impact/the-ingredients-of-everyday-life/
  prev:
    name: Economics 101
    href: /get-the-basics/economics-101/
---

<div class="article_hero" style=" ">
  <img class="hero__image--desktop hidden-xs hidden-sm hidden-md" src="/assets/img/hero/why_futures_mttr__desktop_fg.png" />
  <img class="hero__image--tablet hidden-xs visible-sm visible-md hidden-lg hidden-xl" src="/assets/img/hero/why_futures_mttr__tablet_fg.png" />
  <img class="hero__image--mobile visible-xs hidden-md hidden-lg " src="/assets/img/hero/why_futures_mttr__mobile_fg.png" />
</div>

{{#with page}}
  {{> page-headline}}
{{/with}}

<div class="container">
  <article id="post-21" class="post-21 page type-page status-publish hentry">
    <div class="cf-content">
      
      {{#> column-layout--default includeGlossary=true}}
        <p><em class="glossary__term">Futures</em> trading helps businesses around the world navigate risk and uncertainty. By locking in future prices using futures products, they are better equipped to take on new opportunities, act more quickly and decisively, grow their businesses and ultimately help reduce costs for you, the consumer.</p>
      {{/column-layout--default}}
      
      {{#> carousel-container slide=true id='myCarousel' controls-href='#myCarousel' data-analytics-category='Carousel View' data-analytics-action='Carousel: Turning futures into opportunity' data-analytics-label='Slide 1' }}

        {{#> carousel-item active=true headline='Turning futures into opportunity' img='/assets/img/slideshow/WDFM_carousel__1_RealEstate.jpg' }}
          <p>Real estate developers can put more money into new building projects. So your community gets new schools, new homes and new commercial centers.</p>
        {{/carousel-item}}

        {{#> carousel-item headline='Turning futures into opportunity' img='/assets/img/slideshow/WDFM_carousel__2_Banks.jpg' }}
          <p>Banks can make the loans that help small- and mid-size companies innovate. So these companies can grow, encourage investors and create jobs for the rest of us.</p>
        {{/carousel-item}}

        {{#> carousel-item headline='Turning futures into opportunity' img='/assets/img/slideshow/WDFM_carousel__3_Airline.jpg' }}
          <p>Airlines can more accurately predict their fuel costs. So you can find better prices and options when you’re looking for a flight.</p>
        {{/carousel-item}}

        {{#> carousel-item headline='Turning futures into opportunity' img='/assets/img/slideshow/WDFM_carousel__4_Manufacturers.jpg' }}
          <p>Manufacturers can put more money into creating new products for more people. So the latest kitchen appliances from the U.S., Europe or Asia can make their way to your local store.</p>
        {{/carousel-item}}

      {{/carousel-container}}
      
      {{#> column-layout--default}}
        <p>Futures play a huge role in our economy. But they also impact the smallest areas of your life — like the cereal you have for breakfast. See how below.</p>
      {{/column-layout--default}}

      {{#> carousel-container id='cereal_infographic' class='cereal-container infographic' hide-controls=true data-analytics-category='Interactive Infographic View' data-analytics-action='Cereal Datagram' data-analytics-label='Slide 1' }}
      
        {{#> carousel-item--lottie active=true id='cereal_title' class='title-slide' lottie-json='/assets/json/lottie/Cereal_animation_01.json' custom-controls=true custom-controls-text='Learn why' controls-href='#cereal_infographic' }}
          <div class="carousel-text">
            <h4>More goes into your bowl of breakfast cereal than milk</h4>
            <p>On the surface, the recipe for a bowl of cereal seems simple: just add milk and find a spoon. But futures play a role in every part of your breakfast — from the grains it’s made with to the milk you pour on it. </p>
          </div>
        {{/carousel-item--lottie}}

        {{#> carousel-item--lottie id="cereal_2" lottie-json='/assets/json/lottie/Cereal_animation_02.json' controls-href='#cereal_infographic' slide-num='1' slide-total='5' }}
          <div class="icon">
            <img src="/assets/img/cereal/Cereal_icon_1_grain_@2x.png">
          </div>
          <div class="carousel-text">
            <div class="slide-num">
              <span class="current">1</span> of 5
            </div>
            <h4>Grain Futures</h4>
            <p>Grain futures help farmers, processors and distributors lock in their future prices for corn, wheat and oats — so they can manage their businesses efficiently and deliver competitively-priced cereal to you.</p>
          </div>
        {{/carousel-item--lottie}}

        {{#> carousel-item--lottie id="cereal_3" lottie-json='/assets/json/lottie/Cereal_animation_03.json' controls-href='#cereal_infographic' slide-num='2' slide-total='5' }}
          <div class="icon">
            <img src="/assets/img/cereal/Cereal_icon_2_energy_@2x.png">
          </div>
          <div class="carousel-text">
            <div class="slide-num">
              <span class="current">2</span> of 5
            </div>
            <h4>Energy Futures</h4>
            <p>Oil futures enable companies to manage the risk of changing energy prices, such as the fluctuating cost of fuel for the trucks and trains that transport cereal and milk to you.</p>
          </div>
        {{/carousel-item--lottie}}

        {{#> carousel-item--lottie id='cereal_4' lottie-json='/assets/json/lottie/Cereal_animation_04.json' controls-href='#cereal_infographic' slide-num='3' slide-total='5'}}
          <div class="icon">
            <img src="/assets/img/cereal/Cereal_icon_3_IR_@2x.png">
          </div>
          <div class="carousel-text">
            <div class="slide-num">
              <span class="current">3</span> of 5
            </div>
            <h4>Interest Rate Futures</h4>
            <p>Locking in interest rates using futures enables banks to make competitive loans to farmers, processors and distributors, so they can buy farming equipment and build factories that turn grains into your corn flakes and oatmeal.</p>
          </div>
        {{/carousel-item--lottie}}
              
        {{#> carousel-item--lottie id='cereal_5' lottie-json='/assets/json/lottie/Cereal_animation_05.json' controls-href='#cereal_infographic' slide-num='4' slide-total='5' }}
          <div class="icon">
            <img src="/assets/img/cereal/Cereal_icon_4_dairy_@2x.png">
          </div>
          <div class="carousel-text">
            <div class="slide-num">
              <span class="current">4</span> of 5
            </div>
            <h4>Dairy Futures</h4>
            <p>Dairy markets react to changes in supply and demand, which greatly affect the price of milk – cereal’s best friend.  Managing costs with dairy futures helps protect against price fluctuations.</p>
          </div>
        {{/carousel-item--lottie}}

        {{#> carousel-item--lottie id='cereal_6' lottie-json='/assets/json/lottie/Cereal_animation_06.json' controls-href='#cereal_infographic' restart-control=true slide-num='5' slide-total='5' }}
          <div class="icon">
            <img src="/assets/img/cereal/Cereal_icon_5_steel_@2x.png">
          </div>
          <div class="carousel-text">
            <div class="slide-num">
              <span class="current">5</span> of 5
            </div>
            <h4>Steel Futures</h4>
            <p>Even steel — whether it’s used to make your spoon or a grain silo – can play a role in your breakfast.  With steel futures, manufacturers can bring greater certainty to future prices, so they can manage risk and make the best choices for their businesses.</p>
          </div>
        {{/carousel-item--lottie}}
      
      {{/carousel-container}}
    </div>
  </article>
  
  {{> global--social-share}}

</div>
<!-- /.container -->

{{#with page.article-pagination}}
  {{> article-pagination}}
{{/with}}
