#trade-journey {
	.trade-journey-inner {
		background-color:$gray-10;
		padding:18px 14px;
		width:750px;
		height:460px;
		margin-top:25px;
		margin-bottom:20px;
		position:relative;

		h4 {
			font-size:16px;
			line-height:20px;
			font-family:$benton-bold;
			text-transform:uppercase;
			margin:0;
		}

		.row {
			padding-left:20px; 
			padding-right:40px;
			&:last-child {
				margin-top:80px;
			}
		}

		.trade-icon {
			width:90px;
			padding:85px 22px 12px 22px;
			font-size:11px;
			line-height:13px;
			font-family:$benton-med;
			text-align:center;
			float:left;
			box-sizing:content-box;
			position:relative;
			opacity:0;
			@include animate(opacity 800ms);
		}

		.trade-arrow {
			width:50px;
			height:12px;
			background:url('../img/trade-journey/trade-arrow.png') no-repeat center right;
			background-size:50px 12px;
			position:absolute;
			right:-25px;
			top:40px;
			opacity:0;
			@include animate(opacity 800ms);
		}

		.trade-rejected {
			width:46px;
			height:46px;
			background:url('../img/trade-journey/trade-rejected.png') no-repeat center center;
			background-size:46px;
			position:absolute;
			top:116px;
			left:110px;
			opacity:0;
			@include animate(opacity 800ms);
			@include animate-delay(1250ms);
		}

		.market-pause {
			width:46px;
			height:46px;
			background:url('../img/trade-journey/market-pause.png') no-repeat center center;
			background-size:46px;
			position:absolute;
			top:140px;
			left:110px;
			opacity:0;
			@include animate(opacity 800ms);
			@include animate-delay(4500ms);
		}

		.trade-gray-arrow-01 {
			width:137px;
			height:97px;
			background:url('../img/trade-journey/trade-gray-arrow-01.png') no-repeat center center;
			background-size:137px 97px;
			position:absolute;
			left:124px;
			top:50px;
		}

		.trade-gray-arrow-02 {
			width:31px;
			height:61px;
			background:url('../img/trade-journey/trade-gray-arrow-02.png') no-repeat center center;
			background-size:31px 61px;
			position:absolute;
			left:109px;
			top:50px;
		}

		.trade-gray-arrow-03 {
			width:95px;
			height:96px;
			background:url('../img/trade-journey/trade-gray-arrow-03.png') no-repeat center center;
			background-size:95px 96px;
			position:absolute;
			left:29px;
			top:50px;
		}

		.trade-gray-arrow-04 {
			width:31px;
			height:86px;
			background:url('../img/trade-journey/trade-gray-arrow-04.png') no-repeat center center;
			background-size:31px 86px;
			position:absolute;
			left:109px;
			top:50px;
		}

		.trade-gray-arrow-05 {
			width:39px;
			height:111px;
			background:url('../img/trade-journey/trade-gray-arrow-05.png') no-repeat center center;
			background-size:39px 111px;
			position:absolute;
			left:104px;
			top:-69px;
		}

		.trade-gray-arrow-06
		 {
			width:116px;
			height:114px;
			background:url('../img/trade-journey/trade-gray-arrow-06.png') no-repeat center center;
			background-size:116px 114px;
			position:absolute;
			left:26px;
			top:50px;
		}

		.icon-order-placed {
			background:url('../img/trade-journey/icon-order-placed.png') no-repeat center 15px;
			background-size:71px 59px;
			.trade-arrow {
				right:-30px;
				@include animate-delay(250ms);
			}
		}

		.icon-credit-controls {
			width:110px;
			background:url('../img/trade-journey/icon-credit-controls.png') no-repeat center 15px;
			background-size:60px;
			.trade-arrow {
				right:-20px;
				@include animate-delay(750ms);
			}
			.trade-gray-arrow-01 {
				@include animate-delay(1000ms);
			}
			@include animate-delay(500ms);
		}

		.icon-max-order-quantity {
			background:url('../img/trade-journey/icon-max-order-quantity.png') no-repeat center 15px;
			background-size:60px;
			@include animate-delay(1500ms);
			.trade-arrow {
				@include animate-delay(1750ms);
			}
			.trade-gray-arrow-02 {
				@include animate-delay(2000ms);
			}
		}

		.icon-price-banding {
			background:url('../img/trade-journey/icon-price-banding.png') no-repeat center 15px;
			background-size:60px;
			@include animate-delay(2250ms);
			.trade-arrow {
				@include animate-delay(2500ms);
			}
			.trade-gray-arrow-03 {
				@include animate-delay(2750ms);
			}
		}

		.icon-central-limit {
			background:url('../img/trade-journey/icon-central-limit.png') no-repeat center 15px;
			background-size:60px;
			@include animate-delay(3000ms);

			.trade-arrow {
				display:none;
			}
		}

		.icon-single-market {
			background:url('../img/trade-journey/icon-single-market.png') no-repeat center 15px;
			background-size:60px;
			@include animate-delay(3500ms);

			.trade-arrow {
				display:none;
			}
		}

		.icon-protection-points {
			width:110px;
			background:url('../img/trade-journey/icon-protection-points.png') no-repeat center 15px;
			background-size:60px;
			@include animate-delay(3750ms);

			.trade-arrow {
				display:none;
			}
		}

		.icon-stop-price {
			background:url('../img/trade-journey/icon-stop-price.png') no-repeat center 15px;
			background-size:60px;
			@include animate-delay(4000ms);

			.trade-arrow, .trade-rejected  {
				display:none;
			}

			.trade-gray-arrow-04 {
				display:block;
				@include animate-delay(4250ms);
			}
		}

		.icon-velocity-logic {
			background:url('../img/trade-journey/icon-velocity-logic.png') no-repeat center 15px;
			background-size:60px;
			@include animate-delay(4750ms);
			.trade-arrow {
				right:-20px;
				@include animate-delay(5000ms);
			}
			.trade-gray-arrow-05 {
				@include animate-delay(5250ms);
			}
			.trade-gray-arrow-06 {
				@include animate-delay(5500ms);
			}

		}

		.icon-trade-complete {
			background:url('../img/trade-journey/icon-trade-complete.png') no-repeat center top;
			background-size:89px 79px;
			@include animate-delay(5750ms);
		}

		.journey-section {
			@include clearfix;
			float:left;
			background-color:#E8F6FE;
			opacity:0;
			@include animate(opacity 800ms);
			@include animate-delay(3250ms);
		}

		&.scrollAnimation--active {
			.trade-icon, .trade-arrow, .trade-rejected, .market-pause, .journey-section {
				opacity:1;
			}
		}

		@include mq($until: large) {
			width:100%;

			.row {
				padding-right:10px;
			}
		}
	}

	@include mq($until: medium) {
		.col-md-8 {
			padding-left:0;
			padding-right:0;
		}

		.trade-journey-inner {
			height:auto;
			overflow:hidden;

			.row {
				width:220px;
				margin:0 auto;
				padding:0;

				&:last-child {
					margin-top:10px;
				}
			}

			.trade-icon {
				width:60px;
				font-size:9px;
				line-height:11px;
				padding:78px 25px 12px;

				&.icon-order-placed {
					margin-right:60px;
					margin-bottom:15px;

					.trade-arrow {
						width:32px;
						@include transform(rotate(90deg));
						left:39px;
						top:103px;
					}
				}

				&.icon-credit-controls {
					margin-bottom:10px;
					.trade-arrow {
						width:42px;
						right:-22px;
					}

					.trade-gray-arrow-01 {
						width:21px;
						height:41px;
						background:url('../img/trade-journey/trade-gray-arrow-mobile-01.png') no-repeat center center;
						background-size:21px 41px;
						right:initial;
						left:90px;
					}
				}

				&.icon-max-order-quantity {
					margin-bottom:10px;
					width:80px;
					padding-left:15px;
					padding-right:15px;

					.trade-arrow {
						width:32px;
						@include transform(rotate(90deg));
						left:39px;
						top:112px;
					}

					.trade-gray-arrow-02 {
						width:30px;
						height:17px;
						background:url('../img/trade-journey/trade-gray-arrow-mobile-02.png') no-repeat center center;
						background-size:30px 17px;
						@include transform(rotate(0));
						left:20px;
						top:102px;
					}

					.trade-rejected {
						width:34px;
						height:34px;
						background-size:34px;
						left:-20px;
						top:99px;
					}
				}

				&.icon-price-banding {
					float:right;

					.trade-arrow {
						width:42px;
						@include transform(rotate(180deg));
						right:89px;
					}

					.trade-gray-arrow-03 {
						width:32px;
						height:21px;
						background:url('../img/trade-journey/trade-gray-arrow-mobile-03.png') no-repeat center center;
						background-size:32px 21px;
						@include transform(rotate(0));
						right:initial;
						left:-11px;
						top:20px;
					}
				}

				&.icon-central-limit {
					float:left;

					.trade-arrow {
						display:block;
						width:32px;
						@include transform(rotate(90deg));
						left:39px;
						top:112px;
					}
				}

				&.icon-single-market {
					margin-bottom:10px;
					.trade-arrow {
						display:block;
						width:42px;
						right:-22px;
					}
				}

				&.icon-protection-points {
					margin-bottom:10px;
					width:90px;
					padding-left:10px;
					padding-right:10px;

					.trade-arrow {
						display:block;
						width:32px;
						@include transform(rotate(90deg));
						left:39px;
						top:112px;
					}
				}

				&.icon-stop-price {
					float:right;

					.trade-arrow {
						display:block;
						width:42px;
						@include transform(rotate(180deg));
						right:89px;
					}

					.market-pause {
						height:34px;
						width:34px;
						background-size:34px;
						left:-20px;
						top:125px;
					}

					.trade-rejected {
						display:block;
						width:34px;
						height:34px;
						background-size:34px;
						left:20px;
						top:125px;
					}

					.trade-gray-arrow-04 {
						width:32px;
						height:68px;
						background:url('../img/trade-journey/trade-gray-arrow-mobile-04.png') no-repeat center center;
						background-size:32px 68px;
						@include transform(rotate(0));
						right:initial;
						left:-11px;
						top:52px;
					}
				}

				&.icon-velocity-logic {
					float:left;

					.trade-arrow {
						width:50px;
						@include transform(rotate(90deg));
						left:30px;
						top:125px;
					}

					.trade-gray-arrow-05 {
						width:17px;
						height:41px;
						background:url('../img/trade-journey/trade-gray-arrow-mobile-05.png') no-repeat center center;
						background-size:17px 41px;
						@include transform(rotate(0));
						left:60px;
						top:106px;
					}

					.trade-gray-arrow-06 {
						display:none;
					}
				}

				&.icon-trade-complete {
					margin-top:50px;
					width:80px;
					padding:78px 15px 12px;
				}
			}
		}
	}
}





