@import "scss/helpers/variables";
@import "scss/helpers/mixins";
@import "scss/helpers/animatewithsass-properties";
@import "scss/helpers/breakpoints";

@import "scss/global";

@import "scss/header";
@import "scss/footer";

@import "scss/share";

@import "scss/home";
@import "scss/article";
@import "scss/educators";
@import "scss/contact";

@import "scss/callout-block";
@import "scss/carousel";
@import "scss/two_col_video";
@import "scss/infographics";
@import "scss/food-prices-mod";
@import "scss/protecting-the-market";
@import "scss/trade-journey";
@import "scss/hedger-speculator-quiz";
@import "scss/clearing_made_clear";

@import "scss/animation";
@import "scss/serp";
@import "scss/link-list";
@import "scss/glossary";
@import "scss/404";

@import "scss/ie";


body {
	margin:0;
}

#main-content {
	margin-top:60px;

	@include mq($until: large) {
		margin-top:50px;
	}
}