
@import "scss/helpers/_variables.scss";
@import "scss/helpers/_mixins.scss";
@import "scss/helpers/_animatewithsass-properties.scss";
@import "scss/_breakpoints.scss";

@import "scss/_global.scss";

@import "scss/_header.scss";
@import "scss/_footer.scss";

@import "scss/_share.scss";

@import "scss/_home.scss";
@import "scss/_article.scss";
@import "scss/_educators.scss";
@import "scss/_contact.scss";

@import "scss/_callout-block.scss";
@import "scss/_carousel.scss";
@import "scss/_two_col_video.scss";
@import "scss/_infographics.scss";
@import "scss/_food-prices-mod.scss";
@import "scss/_protecting-the-market.scss";
@import "scss/_trade-journey.scss";
@import "scss/_hedger-speculator-quiz.scss";
@import "scss/_clearing_made_clear.scss";

@import "scss/_animation.scss";
@import "scss/_serp.scss";
@import "scss/_link-list.scss";
@import "scss/_glossary.scss";
@import "scss/_404.scss";

@import "scss/_ie.scss";


body {
	margin:0;
}

#main-content {
	margin-top:60px;

	@include mq($until: large) {
		margin-top:50px;
	}
}