<IfModule mod_rewrite.c>
   RewriteEngine On
   RewriteBase /


ErrorDocument 404 /page-not-found/index.html


# 301 --- http://futuresfundamentals.cmegroup.com/index.html => http://futuresfundamentals.cmegroup.com/
RewriteRule ^index\.html$ /? [L,R=301]

# 301 --- http://futuresfundamentals.cmegroup.com/basics-introduction-to-risk.html => http://futuresfundamentals.cmegroup.com/get-the-basics/introduction-to-derivatives
RewriteRule ^basics-introduction-to-risk\.html$ /get-the-basics/introduction-to-risk? [L,R=301]

# 301 --- http://futuresfundamentals.cmegroup.com/basics-economics-101.html => http://futuresfundamentals.cmegroup.com/get-the-basics/economics-101
RewriteRule ^basics-economics-101\.html$ /get-the-basics/economics-101? [L,R=301]

# 301 --- http://futuresfundamentals.cmegroup.com/basics-futures-and-options.html => http://futuresfundamentals.cmegroup.com/get-the-basics/futures-and-options
RewriteRule ^basics-futures-and-options\.html$ /get-the-basics/futures-and-options? [L,R=301]

# 301 --- http://futuresfundamentals.cmegroup.com/basics-why-do-futures-matter.html => http://futuresfundamentals.cmegroup.com/get-the-basics/heres-why-futures-matter-to-you
RewriteRule ^basics-why-do-futures-matter\.html$ /get-the-basics/why-do-futures-matter? [L,R=301]

# 301 --- http://futuresfundamentals.cmegroup.com/impact-ingredients-of-everyday-life.html => http://futuresfundamentals.cmegroup.com/see-the-impact/the-ingredients-of-everyday-life
RewriteRule ^impact-ingredients-of-everyday-life\.html$ /see-the-impact/the-ingredients-of-everyday-life? [L,R=301]

# 301 --- http://futuresfundamentals.cmegroup.com/impact-food-and-futures.html => http://futuresfundamentals.cmegroup.com/see-the-impact/agriculture-futures
RewriteRule ^impact-food-and-futures\.html$ /see-the-impact/food-and-futures? [L,R=301]

# 301 --- http://futuresfundamentals.cmegroup.com/impact-food-prices-explanation.html => http://futuresfundamentals.cmegroup.com/see-the-impact/agriculture-futures/food-prices-explained
RewriteRule ^impact-food-prices-explanation\.html$ /see-the-impact/food-prices-explained? [L,R=301]

# 301 --- http://futuresfundamentals.cmegroup.com/impact-risk-ranch.html => http://futuresfundamentals.cmegroup.com/see-the-impact/agriculture-futures/risk-ranch
RewriteRule ^impact-risk-ranch\.html$ /see-the-impact/risk-ranch? [L,R=301]

# 301 --- http://futuresfundamentals.cmegroup.com/impact-fuel-and-futures.html => http://futuresfundamentals.cmegroup.com/see-the-impact/energy-futures
RewriteRule ^impact-fuel-and-futures\.html$ /see-the-impact/fuel-and-futures? [L,R=301]

# 301 --- http://futuresfundamentals.cmegroup.com/impact-gas-prices-explained.html => http://futuresfundamentals.cmegroup.com/see-the-impact/energy-futures/gas-prices-explained
RewriteRule ^impact-gas-prices-explained\.html$ /see-the-impact/gas-prices-explained? [L,R=301]

# 301 --- http://futuresfundamentals.cmegroup.com/impact-todays-crude-oil-boom.html => http://futuresfundamentals.cmegroup.com/see-the-impact/energy-futures/north-american-oil-production
RewriteRule ^impact-todays-crude-oil-boom\.html$ /see-the-impact/todays-crude-oil-boom? [L,R=301]

# 301 --- http://futuresfundamentals.cmegroup.com/impact-the-economy-and-futures.html => http://futuresfundamentals.cmegroup.com/see-the-impact/financial-futures
RewriteRule ^impact-the-economy-and-futures\.html$ /see-the-impact/the-economy-and-futures? [L,R=301]

# 301 --- http://futuresfundamentals.cmegroup.com/impact-mortgage-rates-explained.html => http://futuresfundamentals.cmegroup.com/see-the-impact/financial-futures/mortgage-rates-explained
RewriteRule ^impact-mortgage-rates-explained\.html$ /see-the-impact/mortgage-rates-explained? [L,R=301]


# 301 --- http://futuresfundamentals.cmegroup.com/players-hedgers-or-speculators.html => http://futuresfundamentals.cmegroup.com/explore-the-marketplace/the-wide-world-of-futures-traders
RewriteRule ^players-hedgers-or-speculators\.html$ /explore-the-marketplace/the-wide-world-of-futures-traders? [L,R=301]


# 301 --- http://futuresfundamentals.cmegroup.com/players-the-wide-world-of-futures-traders.html => http://futuresfundamentals.cmegroup.com/explore-the-marketplace/the-wide-world-of-futures-traders
RewriteRule ^players-the-wide-world-of-futures-traders\.html$ /explore-the-marketplace/the-wide-world-of-futures-traders? [L,R=301]

# 301 --- http://futuresfundamentals.cmegroup.com/futures-the-exchange-how-it-works.html => http://futuresfundamentals.cmegroup.com/explore-the-marketplace/the-exchange-how-it-works
RewriteRule ^futures-the-exchange-how-it-works\.html$ /explore-the-marketplace/the-exchange:-how-it-works? [L,R=301]

# 301 --- http://futuresfundamentals.cmegroup.com/futures-learn-the-basics-of-trading.html => http://futuresfundamentals.cmegroup.com/explore-the-marketplace/the-exchange-how-it-works/learn-how-to-trade
RewriteRule ^futures-learn-the-basics-of-trading\.html$ /explore-the-marketplace/learn-how-to-trade? [L,R=301]

# 301 --- http://futuresfundamentals.cmegroup.com/futures-the-technology.html => http://futuresfundamentals.cmegroup.com/explore-the-marketplace/the-role-of-technology-in-futures-markets
RewriteRule ^futures-the-technology\.html$ /explore-the-marketplace/the-technology? [L,R=301]

# 301 --- http://futuresfundamentals.cmegroup.com/futures-algorithms-made-simple.html => http://futuresfundamentals.cmegroup.com/explore-the-marketplace/the-role-of-technology-in-futures-markets/a-simple-guide-to-algorithms
RewriteRule ^futures-algorithms-made-simple\.html$ /explore-the-marketplace/algorithms-made-simple? [L,R=301]

# 301 --- http://futuresfundamentals.cmegroup.com/futures-the-protections.html => http://futuresfundamentals.cmegroup.com/explore-the-marketplace/protecting-the-futures-markets
RewriteRule ^futures-the-protections\.html$ /explore-the-marketplace/the-protections? [L,R=301]

# 301 --- http://futuresfundamentals.cmegroup.com/futures-the-role-of-clearing-houses.html => http://futuresfundamentals.cmegroup.com/explore-the-marketplace/the-role-of-clearing-houses
RewriteRule ^futures-the-role-of-clearing-houses\.html$ /explore-the-marketplace/the-role-of-clearing-houses? [L,R=301]

# 301 --- http://futuresfundamentals.cmegroup.com/futures-how-to-clear-a-trade.html => http://futuresfundamentals.cmegroup.com/explore-the-marketplace/protecting-the-futures-markets/how-to-clear-a-trade
RewriteRule ^futures-how-to-clear-a-trade\.html$ /explore-the-marketplace/how-to-clear-a-trade? [L,R=301]

# 301 --- http://futuresfundamentals.cmegroup.com/futures-the-regulatory-measures.html => http://futuresfundamentals.cmegroup.com/explore-the-marketplace/the-regulatory-measures
RewriteRule ^futures-the-regulatory-measures\.html$ /explore-the-marketplace/the-regulatory-measures? [L,R=301]

# 301 --- http://futuresfundamentals.cmegroup.com/futures-over-the-counter-trading.html => http://futuresfundamentals.cmegroup.com/explore-the-marketplace/over-the-counter-trading
RewriteRule ^futures-over-the-counter-trading\.html$ /explore-the-marketplace/over-the-counter-trading? [L,R=301]

# 301 --- http://futuresfundamentals.cmegroup.com/about.html => http://futuresfundamentals.cmegroup.com/about-futures-fundamentals
RewriteRule ^about\.html$ /about? [L,R=301]

# 301 --- http://futuresfundamentals.cmegroup.com/contact-us.html => http://futuresfundamentals.cmegroup.com/contact-us
RewriteRule ^contact-us\.html$ /contact-us? [L,R=301]

# 301 --- http://futuresfundamentals.cmegroup.com/disclaimer.html => http://futuresfundamentals.cmegroup.com/terms-of-use
RewriteRule ^disclaimer\.html$ /terms-of-use? [L,R=301]

# 301 --- http://futuresfundamentals.cmegroup.com/see-the-impact/agriculture-futures/risk-ranch/ => http://futuresfundamentals.cmegroup.com/for-educators/
RewriteRule /see-the-impact/agriculture-futures/risk-ranch? /for-educators? [L,R=301]

#### END 301 Redirects


</IFModule>
