---
url: explore-the-marketplace/the-role-of-technology-in-futures-markets/index.html
title: The Role of Technology in Futures Markets - Futures Fundamentals
body:
  id: main-content
  class: singular page page-id-128 page-parent page-child parent-pageid-42 page-template-default page--role-technology-futures-markets
mainDivClass: article 
hero:
  image:
    id: technology
eyebrow: Explore the Marketplace
headline: The Role of Technology in Futures Markets
article-pagination:
  next:
    href: /explore-the-marketplace/the-role-of-technology-in-futures-markets/a-simple-guide-to-algorithms/
    name: A Simple Guide to Algorithms
  prev:
    href: /explore-the-marketplace/the-exchange-how-it-works/place-a-trade/
    name: Place a Trade
---

{{#with page.hero}}
  {{> article-hero }}
{{/with}}

{{#with page}}
  {{> page-headline }}
{{/with}}

<div class="container">
  <article id="post-128" class="post-128 page type-page status-publish hentry">
    <div class="cf-content">

      {{#> column-layout--default includeGlossary=true }}
        <p><em class="glossary__term">Electronic trading</em> has achieved much more than enabling the <em class="glossary__term" data-term="open-outcry">open-outcry</em> traders of yesterday to do business in the comfort of their own home. Because it frees futures trading from the confines of a physical exchange, electronic trading enables <em class="glossary__term" data-term="futures exchange">futures exchanges</em> to operate on a global scale, with 24/7 access to markets around the world.</p>
        <p>Today’s electronic futures trading platforms are some of the most advanced technologies in the world of finance. The speed and constant activity they enable adds ever-greater <em class="glossary__term">liquidity</em> to the markets – so the world’s economies can move more quickly, more decisively and more confidently.</p>
      {{/column-layout--default}}
    </div>
  </article>
  
  {{> global--social-share}}

</div>

{{#with page.article-pagination}}
  {{> article-pagination}}
{{/with}}
