<!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/bootstrap.css">
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/simulator.css">
<!-- Custom Fonts -->
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="//cloud.typenetwork.com/projects/1177/fontface.css">