.social_icon {
	display: inline-block;
	background-size: cover;
	background-repeat: no-repeat;
	margin-right: 15px;
	
	.at-icon-wrapper { display: none; }

	a {
		width: 41px !important;
		height: 41px;
		display: inline-block;
	}
	
	&--facebook a {
		background-image: url('/assets/img/social-media-logos/icon-follow-inline-face-book.png');
	}

	&--twitter a {
		background-image: url('/assets/img/social-media-logos/icon-follow-inline-twitter.png');
	}

	&--google a {
		background-image: url('/assets/img/social-media-logos/icon-follow-inline-googleplus.png');
	}

	&--instagram a {
		background-image: url('/assets/img/social-media-logos/icon-follow-inline-instagram.png');
	}

	&--linkedin a {
		background-image: url('/assets/img/social-media-logos/icon-follow-inline-linked-in.png');
	}

	&--pinterest a {
		background-image: url('/assets/img/social-media-logos/icon-follow-inline-pinterest.png');
	}

	&--weibo a {
		background-image: url('/assets/img/social-media-logos/icon-follow-inline-weibo.png');
	}
}