.module__special--social_media {
	margin-top: 1rem;
}

.social-media__hashtag {
	color: #337AB7;
}

.social_icon {
	display: inline-block;
	margin-right: 3rem;
	
	.at-icon-wrapper { display: none; }

	a {
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: contain;
		width: 42px !important;
		height: 42px;
		display: inline-block;
	}
	
	&--facebook a {
		background-image: url('/assets/img/social-media-logos/icon-follow-inline-facebook.svg');
	}

	&--twitter a {
		background-image: url('/assets/img/social-media-logos/icon-follow-inline-twitter.svg');
	}

	&--google a {
		background-image: url('/assets/img/social-media-logos/icon-follow-inline-googleplus.png');
	}

	&--instagram a {
		background-image: url('/assets/img/social-media-logos/icon-follow-inline-instagram.svg');
	}

	&--linkedin a {
		background-image: url('/assets/img/social-media-logos/icon-follow-inline-linkedin.svg');
	}

	&--pinterest a {
		background-image: url('/assets/img/social-media-logos/icon-follow-inline-pinterest.png');
	}

	&--weibo a {
		background-image: url('/assets/img/social-media-logos/icon-follow-inline-weibo.png');
	}
}