.article_hero {
  .page--about & {
    background-position: top center;
    background-repeat: repeat-x;
    background-image: url('/assets/img/hero/about_cme__desktop_bg.png');

    @media (max-width: 992px) {
      background-image: url('/assets/img/hero/about_cme__tablet_bg.png');
    }

    @media (max-width: 767px) {
      background-image: url('/assets/img/hero/about_cme__mobile_bg.png');
    }
  }

  .page--glossary & {
    background-position: top center;
    background-repeat: repeat-x;
    background-image: url('/assets/img/hero/glossary__desktop_bg.png');

    @media (max-width: 992px) {
      background-image: url('/assets/img/hero/glossary__tablet_bg.png');
    }

    @media (max-width: 767px) {
      background-image: url('/assets/img/hero/glossary__mobile_bg.png');
    }
  }

  .page--for-educators & {
    background-position: top center;
    background-color: #e8e8e8;
    background-repeat: repeat-x;
    // TODO: image missing?
    // background-image: url('/assets/img/hero/for_ed__desktop_bg.png');

    @media (max-width: 992px) {
      background-image: url('/assets/img/hero/for_ed__tablet_bg.png');
    }

    @media (max-width: 767px) {
      background-image: url('/assets/img/hero/for_ed__mobile_bg.png');
    }
  }

  .page--contact-us & {
    background-position: top center;
    background-repeat: repeat-x;
    background-image: url('/assets/img/hero/about_cme__desktop_bg.png');

    @media (max-width: 992px) {
      background-image: url('/assets/img/hero/about_cme__tablet_bg.png');
    }

    @media (max-width: 767px) {
      background-image: url('/assets/img/hero/about_cme__mobile_bg.png');
    }
  }

  .page--introduction-to-derivatives & {
    background-position: top center;
    background-repeat: repeat-x;
    background-image: url('/assets/img/hero/intro_to_risk__desktop_bg.png');

    @media (max-width: 992px) {
      background-image: url('/assets/img/hero/intro_to_risk__tablet_bg.png');
    }

    @media (max-width: 767px) {
      background-image: url('/assets/img/hero/intro_to_risk__mobile_bg.png');
    }
  }

  .page--futures-and-options & {
    background-position: top center;
    background-repeat: repeat-x;
    background-image: url('/assets/img/hero/futures_and_optns__desktop_bg.png');

    @media (max-width: 992px) {
      background-image: url('/assets/img/hero/futures_and_optns__tablet_bg.png');
    }

    @media (max-width: 767px) {
      background-image: url('/assets/img/hero/futures_and_optns__mobile_bg.png');
    }
  }

  .page--economics-101 & {
    background-position: top center;
    background-color: #e8e8e8;
    background-repeat: repeat-x;
    background-image: url('/assets/img/hero/econ_101__desktop_bg.png');

    @media (max-width: 992px) {
      background-image: url('/assets/img/hero/econ_101__tablet_bg.png');
    }

    @media (max-width: 767px) {
      background-image: url('/assets/img/hero/econ_101__mobile_bg.png');
    }
  }

  .page--heres-why-futures-matter-to-you & {
    background-position: top center;
    background-repeat: repeat-x;
    background-image: url('/assets/img/hero/why_futures_mttr__desktop_bg.png');

    @media (max-width: 992px) {
      background-image: url('/assets/img/hero/why_futures_mttr__tablet_bg.png');
    }


    @media (max-width: 767px) {
      background-image: url('/assets/img/hero/why_futures_mttr__mobile_bg.png');
    }
  }

  .page--ingredients-of-everyday-life & {
    background-color: #0d671e;

    // this file didn't exist during 2020 rebuild
    // background-image: url('/assets/img/hero/gas_prices_explained__desktop_bg.png');
    // background-position: top center;
    // background-repeat: repeat-x;
    // background-image: url('/assets/img/hero/ingred_everyday__desktop_bg.png');
    // background-position: top center;
    // background-repeat: repeat-x;
  }

  .page--agriculture-futures & {
    background-position: top center;
    background-repeat: repeat-x;
    background-image: url('/assets/img/hero/food_and_futures__desktop_bg.png');


    @media (max-width: 992px) {
      background-image: url('/assets/img/hero/food_and_futures__tablet_bg.png');
    }


    @media (max-width: 767px) {
      background-image: url('/assets/img/hero/food_and_futures__mobile_bg.png');
    }
  }

  .page--food-prices-explained & {
    background-color: #FFCA11;
  }
 
  .page--energy-futures & {
    background-position: top center;
    background-repeat: repeat-x;
    background-image: url('/assets/img/hero/fuel_and_futures__desktop_bg.png');


    @media (max-width: 992px) {
      background-image: url('/assets/img/hero/fuel_and_futures__tablet_bg.png');
    }


    @media (max-width: 767px) {
      background-image: url('/assets/img/hero/fuel_and_futures__mobile_bg.png');
    }
  }

  .page--gas-prices-explained & {
    background-color: #5fbae9;
    
    // this file didn't exist during 2020 rebuild
    // background-image: url('/assets/img/hero/gas_prices_explained__desktop_bg.png');
    // background-position: top center;
    // background-repeat: repeat-x;
  }

  .page--north-american-oil-production & {
    background-position: top center;
    background-repeat: repeat-x;
    background-image: url('/assets/img/hero/todays_oil_boom__desktop_bg.png');


    @media (max-width: 992px) {
      background-image: url('/assets/img/hero/todays_oil_boom__tablet_bg.png');
    }

    @media (max-width: 767px) {
      background-image: url('/assets/img/hero/todays_oil_boom__mobile_bg.png');
    }
  }

  .page--financial-futures & {
    background-color: #0079c1;

    // this file didn't exist during 2020 rebuild
    // background-image: url('/assets/img/hero/econ_and_futures__desktop_bg.png');
    // background-position: top center;
    // background-repeat: repeat-x;
  }

  .page--interest-rates-explained & {
    background-position: top center;
    background-repeat: repeat-x;
    background-image: url('/assets/img/hero/interest_rates__desktop_bg.png');

    @media (max-width: 992px) {
      background-image: url('/assets/img/hero/interest_rates__tablet_bg.png');
    }


    @media (max-width: 767px) {
      background-image: url('/assets/img/hero/interest_rates__mobile_bg.png');
    }
  }

  .page--wide-world-futures-traders & {
    background-color: #7ed9fe;

    // this file didn't exist during 2020 rebuild
    // background-image: url('/assets/img/hero/world_futures_trading__desktop_bg.png');
    // background-position: top center;
    // background-repeat: repeat-x;
  }

  .page--exchange-how-it-works & {
    background-position: top center;
    background-color: #000000;
    background-repeat: repeat-x;
    background-image: url('/assets/img/hero/exch_how_it_works__desktop_bg.png');

    @media (max-width: 992px) {
      background-image: url('/assets/img/hero/exch_how_it_works__tablet_bg.png');
    }

    @media (max-width: 767px) {
      background-image: url('/assets/img/hero/exch_how_it_works__mobile_bg.png');
    }
  }

  .page--learn-how-to-trade & {
    background-color: #D4DBE5;
  }

  .page--understand-market-snapshot & {
    background-color: #0dd81e;

    // this file didn't exist during 2020 rebuild
    // background-image: url('/assets/img/hero/undrstnd_mkt_snapshot__desktop_bg.png');
    // background-position: top center;
    // background-repeat: repeat-x;
  }

  .page--study-trading-chart & {
    background-position: top center;
    background-color: #dcf6ff;
    background-repeat: repeat-x;
    background-image: url('/assets/img/hero/study_trading_chart__desktop_bg.png');

    @media (max-width: 992px) {
      background-image: url('/assets/img/hero/study_trading_chart__tablet_bg.png');
    }

    @media (max-width: 767px) {
      background-image: url('/assets/img/hero/study_trading_chart__mobile_bg.png');
    }
  }

  .page--assess-market-conditions & {
    background-color: #5FBAE9;

    // this file didn't exist during 2020 rebuild
    // background-image: url('/assets/img/hero_images/assess_mkt_condtns__desktop_bg.png');
    // background-position: top center;
    // background-repeat: repeat-x;
  }

  .page--place-a-trade & {
    background-position: top center;
    background-color: #d4dbe5;
    background-repeat: repeat-y;
    background-size: 100% 100% !important;
    background-image: url('/assets/img/hero/place_trade__desktop_bg.png');

    @media (max-width: 992px) {
      background-image: url('/assets/img/hero/place_trade__tablet_bg.png');
    }

    @media (max-width: 767px) {
      background-image: url('/assets/img/hero/place_trade__mobile_bg.png');
    }
  }

  .page--role-technology-futures-markets & {
    background-position: top center;
    background-color: #fcf177;
    background-repeat: repeat-x;
    background-image: url('/assets/img/hero/technology__desktop_bg.png');

    @media (max-width: 992px) {
      background-image: url('/assets/img/hero/technology__tablet_bg.png');
    }

    @media (max-width: 767px) {
      background-image: url('/assets/img/hero/technology__mobile_bg.png');
    }
  }

  .page--guide-algorithms & {
    background-color: #373737;

    // this file didn't exist during 2020 rebuild
    // background-image: url('/assets/img/hero/algo_made_simple__desktop_bg.png');
    // background-position: top center;
    // background-repeat: repeat-x;
  }

  .page--protecting-futures-markets & {
    background-color: #7ed9fe;

    // this file didn't exist during 2020 rebuild
    // background-image: url('/assets/img/hero/protections__desktop_bg.png');
    // background-position: top center;
    // background-repeat: repeat-x;
  }

  .page--clearing-house & {
    background-color: #d4dbe5;

    // this file didn't exist during 2020 rebuild
    // background-image: url('/assets/img/hero/role_clrng_hses__desktop_bg.png');
    // background-position: top center;
    // background-repeat: repeat-x;
  }

  .page--how-to-clear-trade & {
    background-color: #e8e8e8;

    // this file didn't exist during 2020 rebuild
    // background-image: url('/assets/img/hero/how_clr_trade__desktop_bg.png');
    // background-position: top center;
    // background-repeat: repeat-x;
  }

  .page--regulatory-measures & {
    background-color: #7ed9fe;

    // this file didn't exist during 2020 rebuild
    // background-image: url('/assets/img/hero/regul_msrs__desktop_bg.png');
    // background-position: top center;
    // background-repeat: repeat-x;
  }

  .page--over-the-counter-trading & {
    background-position: top center;
    background-repeat: repeat-x;
    background-image: url('/assets/img/hero/over_counter_trdng__desktop_bg.png');


    @media (max-width: 992px) {
      background-image: url('/assets/img/hero/over_counter_trdng__tablet_bg.png');
    }


    @media (max-width: 767px) {
      background-image: url('/assets/img/hero/over_counter_trdng__mobile_bg.png');
    }
  }
}
