.article_hero {
  .page--about & {
    background-position: top center;
    background-repeat: repeat-x;
    background-image: url('/assets/img/hero/about_cme__desktop_bg.png');

    @media (max-width: 992px) {
      background-image: url('/assets/img/hero/about_cme__tablet_bg.png');
    }

    @media (max-width: 767px) {
      background-image: url('/assets/img/hero/about_cme__mobile_bg.png');
    }
  }

  .page--glossary & {
    background-position: top center;
    background-repeat: repeat-x;
    background-image: url('/assets/img/hero/glossary__desktop_bg.png');

    @media (max-width: 992px) {
      background-image: url('/assets/img/hero/glossary__tablet_bg.png');
    }

    @media (max-width: 767px) {
      background-image: url('/assets/img/hero/glossary__mobile_bg.png');
    }
  }

  .page--for-educators & {
    background-position: top center;
    background-color: #e8e8e8;
    background-repeat: repeat-x;
    // TODO: image missing?
    // background-image: url('/assets/img/hero/for_ed__desktop_bg.png');

    @media (max-width: 992px) {
      background-image: url('/assets/img/hero/for_ed__tablet_bg.png');
    }

    @media (max-width: 767px) {
      background-image: url('/assets/img/hero/for_ed__mobile_bg.png');
    }
  }

  .page--contact-us & {
    background-position: top center;
    background-repeat: repeat-x;
    background-image: url('/assets/img/hero/about_cme__desktop_bg.png');

    @media (max-width: 992px) {
      background-image: url('/assets/img/hero/about_cme__tablet_bg.png');
    }

    @media (max-width: 767px) {
      background-image: url('/assets/img/hero/about_cme__mobile_bg.png');
    }
  }
}
