.article_hero {
  .page--about & {
    background-position: top center;
    background-repeat: repeat-x;
    background-image: url('/assets/img/hero/about_cme__desktop_bg.png');

    @media (max-width: 992px) {
      background-image: url('/assets/img/hero/about_cme__tablet_bg.png');
    }

    @media (max-width: 767px) {
      background-image: url('/assets/img/hero/about_cme__mobile_bg.png');
    }
  }

  .page--glossary & {
    background-position: top center;
    background-repeat: repeat-x;
    background-image: url('/assets/img/hero/glossary__desktop_bg.png');

    @media (max-width: 992px) {
      background-image: url('/assets/img/hero/glossary__tablet_bg.png');
    }

    @media (max-width: 767px) {
      background-image: url('/assets/img/hero/glossary__mobile_bg.png');
    }
  }

  .page--for-educators & {
    background-position: top center;
    background-color: #e8e8e8;
    background-repeat: repeat-x;
    // TODO: image missing?
    // background-image: url('/assets/img/hero/for_ed__desktop_bg.png');

    @media (max-width: 992px) {
      background-image: url('/assets/img/hero/for_ed__tablet_bg.png');
    }

    @media (max-width: 767px) {
      background-image: url('/assets/img/hero/for_ed__mobile_bg.png');
    }
  }

  .page--contact-us & {
    background-position: top center;
    background-repeat: repeat-x;
    background-image: url('/assets/img/hero/about_cme__desktop_bg.png');

    @media (max-width: 992px) {
      background-image: url('/assets/img/hero/about_cme__tablet_bg.png');
    }

    @media (max-width: 767px) {
      background-image: url('/assets/img/hero/about_cme__mobile_bg.png');
    }
  }

  .page--introduction-to-derivatives & {
    background-position: top center;
    background-repeat: repeat-x;
    background-image: url('/assets/img/hero/intro_to_risk__desktop_bg.png');

    @media (max-width: 992px) {
      background-image: url('/assets/img/hero/intro_to_risk__tablet_bg.png');
    }

    @media (max-width: 767px) {
      background-image: url('/assets/img/hero/intro_to_risk__mobile_bg.png');
    }
  }

  .page--futures-and-options & {
    background-position: top center;
    background-repeat: repeat-x;
    background-image: url('/assets/img/hero/futures_and_optns__desktop_bg.png');

    @media (max-width: 992px) {
      background-image: url('/assets/img/hero/futures_and_optns__tablet_bg.png');
    }

    @media (max-width: 767px) {
      background-image: url('/assets/img/hero/futures_and_optns__mobile_bg.png');
    }
  }

  .page--economics-101 & {
    background-position: top center;
    background-color: #e8e8e8;
    background-repeat: repeat-x;
    background-image: url('/assets/img/hero/econ_101__desktop_bg.png');

    @media (max-width: 992px) {
      background-image: url('/assets/img/hero/econ_101__tablet_bg.png');
    }

    @media (max-width: 767px) {
      background-image: url('/assets/img/hero/econ_101__mobile_bg.png');
    }
  }

  .page--heres-why-futures-matter-to-you & {
    background-position: top center;
    background-repeat: repeat-x;
    background-image: url('/assets/img/hero/why_futures_mttr__desktop_bg.png');

    @media (max-width: 992px) {
      background-image: url('/assets/img/hero/why_futures_mttr__tablet_bg.png');
    }


    @media (max-width: 767px) {
      background-image: url('/assets/img/hero/why_futures_mttr__mobile_bg.png');
    }
  }

  .page--ingredients-of-everyday-life & {
    background-position: top center;
    background-color: #0d671e;
    background-repeat: repeat-x;
    background-image: url('/assets/img/hero/ingred_everyday__desktop_bg.png');
  }

  .page--agriculture-futures & {
    background-position: top center;
    background-repeat: repeat-x;
    background-image: url('/assets/img/hero/food_and_futures__desktop_bg.png');


    @media (max-width: 992px) {
      background-image: url('/assets/img/hero/food_and_futures__tablet_bg.png');
    }


    @media (max-width: 767px) {
      background-image: url('/assets/img/hero/food_and_futures__mobile_bg.png');
    }
  }

  .page--food-prices-explained & {
    background-color: #FFCA11;
  }
 
  .page--energy-futures & {
    background-position: top center;
    background-repeat: repeat-x;
    background-image: url('/assets/img/hero/fuel_and_futures__desktop_bg.png');


    @media (max-width: 992px) {
      background-image: url('/assets/img/hero/fuel_and_futures__tablet_bg.png');
    }


    @media (max-width: 767px) {
      background-image: url('/assets/img/hero/fuel_and_futures__mobile_bg.png');
    }
  }

  .page--gas-prices-explained & {
    background-color: #5fbae9;
    
    // this file didn't exist during 2020 rebuild and was not in use on prod
    // background-image: url('/assets/img/hero/gas_prices_explained__desktop_bg.png');
    // background-position: top center;
    // background-repeat: repeat-x;
  }

  .page--north-american-oil-production & {
    background-position: top center;
    background-repeat: repeat-x;
    background-image: url('/assets/img/hero/todays_oil_boom__desktop_bg.png');


    @media (max-width: 992px) {
      background-image: url('/assets/img/hero/todays_oil_boom__tablet_bg.png');
    }

    @media (max-width: 767px) {
      background-image: url('/assets/img/hero/todays_oil_boom__mobile_bg.png');
    }
  }

  .page--financial-futures & {
    background-color: #0079c1;

    // this file didn't exist during 2020 rebuild and was not in use on prod
    // background-image: url('/assets/img/hero/econ_and_futures__desktop_bg.png');
    // background-position: top center;
    // background-repeat: repeat-x;
  }

  .page--interest-rates-explained & {
    background-position: top center;
    background-repeat: repeat-x;
    background-image: url('/assets/img/hero/mortgage_rates__desktop_bg.png');

    @media (max-width: 992px) {
      background-image: url('/assets/img/hero/mortgage_rates__tablet_bg.png');
    }


    @media (max-width: 767px) {
      background-image: url('/assets/img/hero/mortgage_rates__mobile_bg.png');
    }
  }
}
