/* Infographic style adjustments */

.infographic {
	.item { height:500px; }
	
	.col-md-4 {
		height:100%;
	}

	&.clearing-container {
		.col-md-4 {
			@include mq($until: large) {
				height:245px;
			}

			@include mq($until: 400px) {
				height:285px;
			}
		}
	}

	.carousel-image {
		height:500px;
		opacity:0;
		@include transform(scale(0.9));
		@include animate(all 800ms);

		img { 
			@include vertical-align; 
			padding:15px; 
		}
	}

	.item.active {
		.carousel-image { opacity:1; @include transform(scale(1)); }
	}

	.carousel-text {
		padding-top:50px;
		height:500px;
	}

	.carousel-controls-container { 
		bottom:50px; 
		top:initial !important; 
		
		.carousel-control {
			&.begin {
				width:auto;
				text-align:left;
				left:0;
				text-shadow:none;
				padding:17px 38px 16px 14px;
				background:$blue-20;
				font-size:12px;
				line-height:19px;
				font-weight:bold;
				text-transform:uppercase;
				font-family:$benton-bold;

				&:after {
					content:"";
					display:block;
					position:absolute;
					right:15px;
					top:0;
					width:12px;
					height:100%;
					background:url('/assets/img/link_caret.png') no-repeat center center;
					background-size:12px 21px;
					@include animate(all 300ms ease);
				}

				&:hover {
					color:$white;
					text-decoration:none;
					&:before {
						opacity:1;
					}
					&:after {
						@include transform(translateX(5px));
					}
				}
			}

			&.restart {
				background:$blue-20;

				&:after {
					content:"";
					display:block;
					position:absolute;
					right:5px;
					top:5px;
					height:40px;
					width:40px;
					@include animate(all 500ms ease);	
					background:url('/assets/img/carousel_restart.png') no-repeat center right transparent;
					background-size:40px;
				}

				&:hover {
					&:after {
						@include transform(rotate(90deg));
					}
				}
			}

			@include mq($until: large) {
				position:relative;
			}
		}
	}

	.slide-num-mobile {display:none;}

	@include mq($until: xlarge) {
		.item, .carousel-image, .carousel-text {height:450px;}
	}

	@include mq($until: large) {
		.item, .carousel-image, .carousel-text {height:auto;}

		.carousel-image {
			img { @include vertical-align-cancel; padding:30px 15px; }
		}

		.carousel-text {
			padding:30px 0;
			.slide-num {display:none;} 
		}

		.carousel-controls-container {
			position:relative;
			@include transform(translateY(0));
			bottom:initial;
			margin-bottom:25px;
			height:50px;

			.carousel-control {
				height:50px;
				width:50px;
				&.right, &.left { background-size:40px 40px; }
				&.restart { background-size:40px 40px; }
			}
		}

		&.clearing-container {
			.carousel-controls-container {
				position:absolute;
				bottom:25px;
				left:15px;
				margin-bottom:0;
			}
		}

		.slide-num-mobile {
			display:inline-block;
			padding-top:15px;
			margin-bottom:20px;
			border-bottom:2px solid $gray-20;
		}
	}
}