.resource-card {
  margin-bottom: 30px;

  &__link {
    align-content: flex-start;
    align-items: center;
    background-color: rgba(#E8E8E8, 0.5);
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    min-height: 200px;
    position: relative;
    text-decoration: none;
    transition: background-color 0.2s;
  }

  &__link:hover {
    background-color: rgba(#6D6C6D, 0.25);
    text-decoration: none;
  }

  &__link:active,
  &__link:focus {
    text-decoration: none;
  }

  &__image-container,
  &__copy-container {
    width: 100%;
  }

  &__image-container {
    overflow: hidden;
    position: relative;
  }

  &__image-placeholder {
    padding-top: 56.67%;
  }

  &__image {
    height: 100%;
    position: absolute;
    top: 0;
  }

  &__copy-container {
    padding: 30px;
    position: relative;
  }

  &__copy-container &__eyebrow {
    font-family: "Benton Sans Reg", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  &__copy-container &__headline {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 12px;
    margin-top: 0;
  }

  &__copy-container &__copy {
    font-family: "Benton Sans Reg", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 23px;
  }

  &__link-icon {
    background-color: #6D6C6D;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;

    img {
      max-width: 100%;
    }
  }

  &--horizontal &__image-container,
  &--horizontal &__copy-container {
    @media (min-width: 575px) {
      width: 50%;
    }
  }

  &--horizontal &__image-container {
    align-self: stretch;
  }

  &--horizontal &__copy-container {
    @media (min-width: 575px) {
      position: static;
    }
  }

  &--blue &__eyebrow,
  &--blue &__headline,
  &--blue &__copy {
    color: #fff;
  }

  &--blue &__link {
    background-color: transparent;

    &:before {
      background-color: #55C0FA;
      bottom: 0;
      content: '';
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -2;
    }

    &:after {
      background-color: rgba(#0079C1, 0.32);
      bottom: 0;
      content: '';
      display: block;
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: opacity 0.2s;
      z-index: -1;
    }
  }

  &--blue &__link:hover {
    &:after {
      opacity: 1;
    }
  }

  &--blue &__link-icon {
    background-color: #0079C1;
  }
}