.social-buttons {
	a {
		display:block;
		text-indent:-9999px;
		padding:0;
		position:relative;
		box-sizing:content-box;
	}
}

.share-buttons {
	padding: 8px;

	li {
		display: block;
	}

	a {
		display: block;
		text-indent: -9999px;
	}

	.social_icon {
		margin-right: 0;
		padding: 16px 0;

		a {
			$size: 24px;
			height: 24px;
			width: 24px;
		}
	}

	@include mq($until: large) {
		@include clearfix;
		display: flex;
		justify-content: space-between;
	}
}