<!DOCTYPE html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns#">

  {{> global_head }}

  <body id="{{ page.body.id }}" class="{{ page.body.class }}"  data-module=" ">
      {{> global_nav }}
      <div id="main-content" class="{{ page.mainDivClass }}">
          {{{ contents }}}
      </div>
      {{> global_footer }}
      {{> global_js }}
  </body>

</html>