<!DOCTYPE html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns#">

  {{> global--head }}

  <body id="{{ page.body.id }}" class="{{ page.body.class }}"  data-module=" ">
      {{> global--nav }}
      <div id="main-content" class="{{ page.mainDivClass }}">
          {{{ contents }}}
      </div>
      {{> global--footer }}
      {{> global--js }}
  </body>

</html>