---
url: see-the-impact/the-ingredients-of-everyday-life/index.html
title: The Ingredients of Everyday Life - Futures Fundamentals
body:
  class: singular page page-id-22 page-child parent-pageid-7 page-template-default page--ingredients-of-everyday-life
mainDivClass: article 
eyebrow: See the Impact
headline: 'Future Products: The Ingredients of Everyday Life'
related-links:
  - 
    headline: Want to learn more?
    copy: Try our educational, interactive tools, developed in partnership with Discovery Education. Navigate real-life examples and better understand the worlds of food, fuel and finance.
    icon-class: call-discovery-icon
    link:
      href: http://www.econessentialsinschool.com/interactive-modules
      text: CHECK OUT ECON ESSENTIALS
article-pagination:
  next:
    href: /see-the-impact/agriculture-futures/
    name: Agriculture Futures
  prev:
    href: /get-the-basics/heres-why-futures-matter-to-you/
    name: Here's Why Futures Matter to You
---

<div class="article_hero" style=" ">
  <img class="hero__image--desktop hidden-xs hidden-sm hidden-md" src="/assets/img/hero/ingred_everyday__desktop_fg.png" />
  <img class="hero__image--tablet hidden-xs visible-sm visible-md hidden-lg hidden-xl" src="/assets/img/hero/ingred_everyday__tablet_fg.png" />
  <img class="hero__image--mobile visible-xs hidden-md hidden-lg " src="/assets/img/hero/ingred_everyday__mobile_fg.png" />
</div>

{{#with page}}
  {{> page-headline }}
{{/with}}

<div class="container">
  <article id="post-22" class="post-22 page type-page status-publish hentry">
    <div class="cf-content">

      {{#> column-layout--default}}
        <p>For every product you buy, there is a number of outside factors – demand, weather, transportation and global politics – that impact its price as it moves along the supply chain to you. Futures take all those factors into account ahead of time, so that prices can remain relatively predictable and consistent when the product reaches the market.</p>
      {{/column-layout--default}}

      {{#> column-layout--default}}
        <h3 class="article_headline">Why you pay what you pay</h3>
        <p>This section will break these price factors down a bit. We’ll show you how futures help corn move off the cob and into your corn flakes. We'll show you some of the reasons that gas prices in your town may move up and down the way they do. And we’ll even get into the nuts and bolts of the mortgage rates you pay on your home.</p>
      {{/column-layout--default}}

      {{> links-related links=page.related-links }}
    </div>
  </article>

  {{> global--social-share}}
</div>

{{#with page.article-pagination}}
  {{> article-pagination}}
{{/with}}