$benton: "Benton Sans Reg", "Helvetica Neue", Helvetica, Arial, sans-serif;
$benton-bold: "Benton Sans Bd", "Helvetica Neue", Helvetica, Arial, sans-serif;
$benton-med: "Benton Sans Med", "Helvetica Neue", Helvetica, Arial, sans-serif;
$whitman: "Whitman Disp Reg", Georgia, Cambria, "Times New Roman", Times, serif;
$whitman-bold: "Whitman Disp Bd", Georgia, Cambria, "Times New Roman", Times, serif;

$black: #000000;
$white: #FFFFFF;

$gray-10:#E8E8E8;
$gray-20:#9B9B9B;
$gray-30:#6D6C6D;
$gray-40:#4A4A4A;

$blue-10:#48BFFF;
$blue-20:#0079C1;
$blue-30: #0855A1;
$blue-40:#1A4181;

$pale-blue:#A9DAF6;
$pale-blue-10:#E8F6FE;

$price-green:#32D200;
$price-red:#ED1C24;

$hover-overlay:rgba(255,255,255,0.1);
$hover-overlay-gray:rgba(255,255,255,0.3);