---
---

@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/animatewithsass-properties";
@import "helpers/breakpoints";

@import "global";

@import "header";
@import "footer";

@import "share";

@import "home";
@import "article";
@import "educators";
@import "contact";

@import "callout-block";
@import "carousel";
@import "two_col_video";
@import "infographics";
@import "food-prices-mod";
@import "protecting-the-market";
@import "trade-journey";
@import "hedger-speculator-quiz";
@import "clearing_made_clear";
@import "mp4_carousel";

@import "animation";
@import "serp";
@import "link-list";
@import "glossary";
@import "404";

@import "ie";


body {
	margin:0;
}

#main-content {
	margin-top:60px;

	@include mq($until: large) {
		margin-top:50px;
	}
}
