---
url: "for-educators/index.html"
title: For Educators - Futures Fundamentals
body:
  class: singular page page-id-151 page-template page-template-tpl_glossary page-template-tpl_glossary-php page--for-educators
mainDivClass: article educators_article
headline: Futures Fundamentals <br> for Educators
subhead: Our extensive collection of educational content feels right at home in any classroom. On this page, we bring together some of our best articles, videos and interactive infographics about the world of futures to create an essential resource for educators and their students.
modules:
  -
    type: horizontal-rule
    data:
      empty:
  -
    type: for-educators--link-image-grid
    data:
      headline: Interactive Features
      copy: Enhance and test your students’ futures IQs with interactive elements like quizzes and challenges.
      class: infographic_links
      links:
        -
          href: /see-the-impact/agriculture-futures/food-prices-explained/#food-prices-move
          text: The Facts Behind Food Prices
          image:
            src: /assets/img/for-educators/food_price_link.png
        -
          href: /explore-the-marketplace/the-wide-world-of-futures-traders/#quiz-carousel
          text: Hedger or Speculator quiz
          image:
            src: /assets/img/for-educators/quiz_link.png
        -
          href: /explore-the-marketplace/the-role-of-clearing-houses/#clearing_made_clear
          text: Clearing Made Clear
          image:
            src: /assets/img/for-educators/clearing_link.png
        -
          href: /explore-the-marketplace/protecting-the-futures-markets/how-to-clear-a-trade/#protect_market_infographic
          text: Protecting the Market
          image:
            src: /assets/img/for-educators/protecting_link.png
  -
    type: for-educators--link-image-grid
    data:
      headline: Educational Videos
      copy: From the basics, like supply and demand, to digging deeper into the everyday impacts that may go unnoticed, these videos explore a range of futures-related topics in engaging, unexpected ways.
      class: video_links
      links:
        -
          href: /see-the-impact/energy-futures/gas-prices-explained/#thestoryofoil
          text: The Story of Oil
          image:
            src: /assets/img/for-educators/oil_vid_link.png
        -
          href: /see-the-impact/agriculture-futures/food-prices-explained/#riskontheranch
          text: Risk on the Ranch
          image:
            src: /assets/img/for-educators/risk_vid_link.png
        -
          href: /see-the-impact/financial-futures/#fxexplained
          text: FX Explained
          image:
            src: /assets/img/for-educators/fx_vid_link.png
        -
          href: /see-the-impact/financial-futures/interest-rates-explained/#theinsandoutsofinterestrates
          text: The Ins and Outs of Interest Rates
          image:
            src: /assets/img/for-educators/interest_vid_link.png
        -
          href: /get-the-basics/economics-101/#supplyanddemand
          text: Supply and Demand
          image:
            src: /assets/img/for-educators/supply_vid_link.png
        -
          href: /get-the-basics/futures-and-options/#futuresandoptions
          text: Futures and Options
          image:
            src: /assets/img/for-educators/futures_vid_link.png
        -
          href: /explore-the-marketplace/the-exchange-how-it-works/#liquidity
          text: Liquidity
          image:
            src: /assets/img/for-educators/liquidity_vid_link.png
        -
          href: /explore-the-marketplace/the-wide-world-of-futures-traders/#hedgingandspeculating
          text: Hedging and Speculating
          image:
            src: /assets/img/for-educators/hedging_vid_link.png
  -
    type: for-educators--link-list
    data:
      headline: Downloadable PDFs
      links:
        -
          href: /assets/pdf/The_Facts_Behind_Food_Prices.pdf
          text: Grain Prices PDF / 1.1MB
        -
          href: /assets/pdf/The_Facts_Behind_Pork_Prices.pdf
          text: Pork Prices PDF / 179KB
        -
          href: /assets/pdf/The_Facts_Behind_Beef_Prices.pdf
          text: Beef Prices PDF / 1MB
        -
          href: /assets/pdf/The_Facts_Behind_Oil_Prices.pdf
          text: The Sources of Oil Prices PDF / 768KB
        -
          href: /assets/pdf/The_Book_of_Risk.pdf
          text: The Book of Risk PDF / 8.1MB
        -
          href: /assets/pdf/Who_is_a_Speculator.pdf
          text: The Truth About Speculators PDF / 412KB
        -
          href: /assets/pdf/A_Counterparty_for_Every_Trade.pdf
          text: Clearing, Plain and Simple PDF / 570KB
        -
          href: /assets/pdf/Market_Protections_of_an_Electronic_Trade.pdf
          text: Clearing a Trade PDF / 672KB
        -
          href: /assets/pdf/Preventing_Market_Abuse.pdf
          text: Preventing Market Abuse PDF / 500KB
  -
    type: for-educators--promo
    data:
      id: module_promo__The_Basics_of_Trading
      headline: The Basics of Trading — Learn to Trade
      copy: Use our comprehensive tutorial to learn the core concepts of trading, then try your hand using our trading simulator.

      block:
        headline: The Basics of Trading
        copy: Try out our training tutorial and our true-to-life trading simulator.
        image:
          src: /assets/img/for-educators/simulator_promotion.png
        links:
          -
            href: /explore-the-marketplace/the-exchange-how-it-works/learn-how-to-trade/
            text: Explore the Tutorial
          -
            href: 'http://futures-fundamentals-ndjmr3dnam.elasticbeanstalk.com/'
            text: Trading Simulator
  -
    type: for-educators--promo
    data:
      id: module_promo__Risk_Ranch
      headline: "Risk Ranch: Fun with Commodities"
      copy: Get a firsthand look at how the livestock market fits into the world of futures. In this fun game, you’ll raise a steer or hog over four seasons, avoid all the risks along the way and sell them in the market to make a profit.
      block:
        headline: Risk Ranch
        copy: Download the app and test your own tolerance for risk.
        image:
          src: /assets/img/risk-ranch-fg.png
        links:
          -
            href: https://itunes.apple.com/us/app/risk-ranch/id891381157?mt=8
            text: Download for iPhone
  -
    type: horizontal-rule
    data:
      id: ff-econ-essentials
  -
    type: for-educators--econ-essentials
    data:
      copy: Developed in partnership with Discovery Education, Econ Essentials offers free online resources that are designed to educate about core economic principles, all of which are aligned with high school economic standards. Learn more about these interactive learning modules and videos below or by visiting Econ Essentials.
      cards:
        -
          headline: Behavorial Economics Lessons
          copy: Do humans defy logic and reason when they make financial decisions? Show your students that economics has the potential to be their most interesting subject.
          link:
            href: https://www.econessentialsinschool.com/behavioral-econ-lessons
            text: Explore the lessons
          image:
            src: econ-essentials-lessons
        -
          headline: Interactive Learning Modules
          id: ff-interactive-learning-modules
          copy: These three interactive learning modules present students with real-world examples of core economic principles in practice.
          link:
            href: https://www.econessentialsinschool.com/interactive-modules
            text: Explore the modules
          image:
            src: econ-essentials-modules
        -
          headline: Seeker Stories Video Series
          copy: A mini documentary series by Seeker, from Discovery Digital Networks. Each episode showcases people and places that shape the way economics impacts the world.
          link:
            href: https://www.econessentialsinschool.com/videos
            text: Explore the series
          image:
            src: econ-essentials-videos
---

<div class="article_hero" style=" ">
  <img class="hero__image--desktop hidden-xs hidden-sm hidden-md" src="/assets/img/hero/for_ed__desktop_fg.png" />
  <img class="hero__image--tablet hidden-xs visible-sm visible-md hidden-lg hidden-xl" src="/assets/img/hero/for_ed__tablet_fg.png" />
  <img class="hero__image--mobile visible-xs hidden-md hidden-lg " src="/assets/img/hero/for_ed__mobile_fg.png" />
</div>

{{#with page }}
  {{> page-headline}}

  <div class="container">
    <article id="post-160" class="post-160 page type-page status-publish hentry">
      <div class="cf-content">
        <div class="row module__body-copy">
          <div class="col-md-2 hidden-sm hidden-xs"></div>
          <div class="col-md-8">
            <p>{{ subhead }}</p>
          </div>
        </div>

        {{#each modules}}
          {{#with data}}
            {{> (lookup .. 'type') }}
          {{/with}}
        {{/each}}
        
      </div>
    </article>

    {{> global--social-share }}

  </div>
  <!-- /.container -->
{{/with}}
