/*
 *  ====================================
 *  Global
 *  ==================================== 
 */

/*
 *  fade in and scale
 */

@include keyframes(fadeScale) {
  0%    {
    opacity:0;
    @include transform(scale(0.9));
  }
  100%  {
    opacity:1;
    @include transform(scale(1));
  }
}

@mixin fadeScale($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(fadeScale);
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

/*
 *  fade out and shrink
 */

@include keyframes(fadeShrink) {
  0%    {
    opacity:1;
    @include transform(scale(1));
  }
  100%  {
    opacity:0;
    @include transform(scale(0.9));
  }
}

@mixin fadeShrink($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(fadeShrink);
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

/*
 *  ====================================
 *  Intro slide
 *  ==================================== 
 */

/*
 *  cursor move
 */

@include keyframes(cursorMove) {
  0%    {
    @include transform(translateX(0) translateY(0) scale(1));
  }
  15%  {
    @include transform(translateX(-100%) translateY(-60%) scale(1));
  }
  17% {
    @include transform(translateX(-100%) translateY(-60%) scale(0.95));
  }
  19% {
    @include transform(translateX(-100%) translateY(-60%) scale(1));
  }
  34% {
    @include transform(translateX(-300%) translateY(0) scale(1));
  }
  45% {
    @include transform(translateX(-300%) translateY(0) scale(1));
  }
  60% {
    @include transform(translateX(-100%) translateY(-60%) scale(1));
  }
  62% {
    @include transform(translateX(-100%) translateY(-60%) scale(0.95));
  }
  64% {
    @include transform(translateX(-100%) translateY(-60%) scale(1));
  }
  79%    {
    @include transform(translateX(0) translateY(0) scale(1));
  }
  100%    {
    @include transform(translateX(0) translateY(0) scale(1));
  }
}

@mixin cursorMove($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(cursorMove);
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

/*
 *  buy button
 */

@include keyframes(buyBtn) {
  0%    {
    @include transform(scale(1));
    opacity:1;
  }
  15%  {
    @include transform(scale(1));
  }
  17% {
    @include transform(scale(0.9));
  }
  19% {
    @include transform(scale(1));
    opacity:1;
  }
  29% {
    opacity:0;
  }
  80%    {
    opacity:0;
  }
  90% {
    opacity:1;
  }
  100%    {
    opacity:1;
  }
}

@mixin buyBtn($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(buyBtn);
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

/*
 *  sell button
 */

@include keyframes(sellBtn) {
  0%    {
    @include transform(scale(1));
    opacity:0;
  }
  45%  {
    opacity:0;
  }
  55% {
    opacity:1;
  }
  60%  {
    @include transform(scale(1));
  }
  62% {
    @include transform(scale(0.9));
  }
  64% {
    @include transform(scale(1));
    opacity:1;
  }
  74% {
    opacity:0;
  }
  100%    {
    opacity:0;
  }
}

@mixin sellBtn($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(sellBtn);
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

/*
 *  clear screen
 */

@include keyframes(clearScreen) {
  0%    {
    opacity:0;
  }
  19% {
    opacity:0;
  }
  29% {
    opacity:1;
  }
  45% {
    opacity:1;
  }
  55% {
    opacity:0;
  }
  64% {
    opacity:0;
  }
  74% {
    opacity:1;
  }
  80% {
    opacity:1;
  }
  90% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}

@mixin clearScreen($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(clearScreen);
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

/*
 *  ====================================
 *  Slide 01 - World of Clearing
 *  ==================================== 
 */


/*
 *  arrow fade
 */

@include keyframes(arrowFade) {
  0%    {
    opacity:0;
  }
  40%  {
    opacity:1;
  }
  60%  {
    opacity:1;
  }
  100% {
    opacity:0;
  }

}

@mixin arrowFade($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(arrowFade);
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

/*
 *  ====================================
 *  Slide 02 - Bob
 *  ==================================== 
 */

/*
 *  bob grow
 */

@include keyframes(bobGrow) {
  0%    {
    @include transform(scale(0.21) translateX(-458%) translateY(75%));
  }
  50% {
    @include transform(scale(0.21) translateX(0) translateY(0));
  }
  100% {
    @include transform(scale(1) translateX(0) translateY(0));
  }

}

@mixin bobGrow($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(bobGrow);
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

/*
 *  cursor click
 */

@include keyframes(cursorClick) {
  0%    {
    @include transform(translateX(-300%) translateY(80%) scale(1));
  }
  60%  {
    @include transform(translateX(0) translateY(0) scale(1));
  }
  80% {
    @include transform(translateX(0) translateY(0) scale(0.95));
  }
  100% {
    @include transform(translateX(0) translateY(0) scale(1));
  }

}

@mixin cursorClick($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(cursorClick);
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

/*
 *  button click
 */

@include keyframes(buttonClick) {
  0%    {
    @include transform(scale(1));
  }
  60%  {
    @include transform(scale(1));
  }
  80% {
    @include transform(scale(0.9));
  }
  100% {
    @include transform(scale(1));
  }

}

@mixin buttonClick($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(buttonClick);
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

/*
 *  ====================================
 *  Slide 03 - Order to Firm
 *  ==================================== 
 */

/*
 *  arrow forward
 */

@include keyframes(arrowForward) {
  0%    {
    opacity:0;
    @include transform(translateX(-25%));
  }
  50%  {
    opacity:1;
  }
  100% {
    opacity:0;
    @include transform(translateX(25%));
  }

}

@mixin arrowForward($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(arrowForward);
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

/*
 *  bob shrink
 */

@include keyframes(bobShrink) {
  0%    {
    @include transform(scale(1));
  }
  100% {
    @include transform(scale(0.7));
  }

}

@mixin bobShrink($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(bobShrink);
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

/*
 *  ====================================
 *  Slide 04 - Firm Checks
 *  ==================================== 
 */

/*
 *  arrow forward
 */

@include keyframes(arrowBackward) {
  0%    {
    opacity:0;
    @include transform(translateX(25%));
  }
  50%  {
    opacity:1;
  }
  100% {
    opacity:0;
    @include transform(translateX(-25%));
  }

}

@mixin arrowBackward($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(arrowBackward);
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

/*
 *  ====================================
 *  Slide 05 - Order to Clearing House
 *  ==================================== 
 */

/*
 *  group shrink
 */

@include keyframes(groupShrink) {
  0%    {
    @include transform(scale(1) translateX(0));
  }
  100% {
    @include transform(scale(0.8) translateX(-25%));
  }

}

@mixin groupShrink($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(groupShrink);
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

/*
 *  group size control
 */

@include keyframes(groupSize) {
  0%    {
    @include transform(scale(1) translateX(0));
  }
  100% {
    @include transform(scale(0.8) translateX(10%));
  }

}

@mixin groupSize($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(groupSize);
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

/*
 *  ====================================
 *  Slide 06 - Finds a seller
 *  ==================================== 
 */

/*
 *  make room
 */

@include keyframes(boxShift) {
  0%    {
    @include transform(translateX(0));
  }
  100% {
    @include transform(translateX(-50%));
  }

}

@mixin boxShift($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(boxShift);
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

@include keyframes(buildingShift) {
  0%    {
    @include transform(translateX(0));
  }
  100% {
    @include transform(translateX(-100%));
  }

}

@mixin buildingShift($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(buildingShift);
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

/*
 *  ====================================
 *  Slide 07 - Nitty-gritty details
 *  ==================================== 
 */

/*
 *  check marks
 */

@include keyframes(checkMark) {
  0%    {
    width:0;
  }
  100% {
    width:3.97%;
  }

}

@mixin checkMark($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(checkMark);
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

/*
 *  ====================================
 *  Slide 08 - Trade cleared
 *  ==================================== 
 */

/*
 *  move static
 */

@include keyframes(moveStatic) {
  0%    {
    @include transform(scale(0.8) translateX(-25%));
  }
  100% {
    @include transform(scale(0.8) translateX(0));
  }

}

@mixin moveStatic($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(moveStatic);
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

/*
 *  ====================================
 *  Slide 09 - Stopwatch
 *  ==================================== 
 */

/*
 *  group fade
 */

@include keyframes(groupFade) {
  0%    {
    @include transform(scale(0.8));
    opacity:1;
  }
  100% {
    @include transform(scale(0.8));
    opacity:0;
  }

}

@mixin groupFade($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(groupFade);
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

/*
 *  arrow right anim
 */

@include keyframes(arrowRight) {
  0%    {
    @include transform(translateX(0));
  }
  100%  {
    @include transform(translateX(500%));
  }
}

@mixin arrowRight($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(arrowRight );
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

@include keyframes(arrowRightEnd) {
  0%    {
     @include transform(translateX(0));
  }
  100%  {
     @include transform(translateX(300%));
  }
}

@mixin arrowRightEnd($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(arrowRightEnd );
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

/*
 *  arrow left anim
 */

@include keyframes(arrowLeft) {
  0%    {
    @include transform(translateX(0) rotate(180deg));
  }
  100%  {
    @include transform(translateX(-500%) rotate(180deg));
  }
}

@mixin arrowLeft($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(arrowLeft );
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

@include keyframes(arrowLeftEnd) {
  0%    {
    @include transform(translateX(0) rotate(180deg));
  }
  100%  {
    @include transform(translateX(-300%) rotate(180deg));
  }
}

@mixin arrowLeftEnd($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(arrowLeftEnd );
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

