@import "partials/helpers/variables";
@import "partials/helpers/mixins";
@import "partials/helpers/animatewithsass-properties";
@import "partials/helpers/breakpoints";

@import "partials/global";

@import "partials/nav";
@import "partials/footer";

@import "partials/share";

@import "partials/heroes";
@import "partials/article";
@import "partials/home";
@import "partials/educators";
@import "partials/contact";

@import "partials/callout-block";
@import "partials/carousel";
@import "partials/two_col_video";
@import "partials/infographics";
@import "partials/food-prices-mod";
@import "partials/protecting-the-market";
@import "partials/trade-journey";
@import "partials/hedger-speculator-quiz";
@import "partials/clearing_made_clear";
@import "partials/resource-card";

@import "partials/animation";
@import "partials/serp";
@import "partials/link-list";
@import "partials/glossary";
@import "partials/404";

@import "partials/ie";


body {
  margin:0;
}

#main-content {
  margin-top:60px;

  @include mq($until: large) {
    margin-top:50px;
  }
}
