<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/index.html">{{ site.title }}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            {% assign menu = site.data.navigation %}
            <ul class="nav navbar-nav navbar-right">
                {% for item in menu %}
                <!-- check to see if the data file has a submenu, and if so display it -->
                {% if item.subfolderitems %}
                <li class="dropdown open">
                    <a href="{{ site.baseurl }}{{ item.url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ item.title }}</a>
                    <ul class="dropdown-menu" role="menu">
                        {% for entry in item.subfolderitems %}
                        <li><a href="{{ entry.url }}">{{ entry.page }}</a> {% if entry.subsubfolderitems %}
                            <ul>
                                {% for subentry in entry.subsubfolderitems %}
                                <li><a href="{{ subentry.url }}">{{ subentry.page }}</a></li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </li>
                         {% endfor %}
                    </ul>
                </li>
                {% else %}
                <!-- /.display the top level navigation for items that don’t have a submenu -->
                <li>
                    <a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a> {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>