---
url: explore-the-marketplace/the-exchange-how-it-works/assess-market-conditions/index.html
title: Assess Market Conditions - Futures Fundamentals
body:
  id: main-content
  class: singular page page-id-139 page-child parent-pageid-121 page-template-default page--assess-market-conditions
mainDivClass: article 
hero:
  image:
    id: assess_mkt_condtns
eyebrow: 'The Exchange: How it Works'
headline: Assess Market Conditions
related-links:
  links:
    -
      data: trading-simulator
      layout: horizontal
  econ-links:
    -
      data: lesson.choice
      id: ff-question-of-choice
      layout: horizontal
article-pagination:
  next:
    href: /explore-the-marketplace/the-exchange-how-it-works/place-a-trade/
    name: Place a Trade
  prev:
    href: /explore-the-marketplace/the-exchange-how-it-works/study-the-trading-chart/
    name: Study the Trading Chart
---

{{#with page.hero}}
  {{> article-hero}}
{{/with}}

{{#with page}}
  {{> page-headline}}
{{/with}}

<div class="container">
  <article id="post-139" class="post-139 page type-page status-publish hentry">
    <div class="cf-content">

      {{#> column-layout--default includeGlossary=true}}
        <p>The chart isn’t your only evaluation resource. To stay informed and ahead of trends, you need to balance <em class="glossary__term" data-term="technical analysis">technical</em> and <em class="glossary__term" data-term="fundamental analysis">fundamental analysis</em>. </p>
        <p>To help with the latter, a newsfeed can keep you up to date on the latest headlines and events impacting the corn market.</p>
      {{/column-layout--default}}

      <!-- error ai -->
      <div class="module__animated-image full-width" id="controller_Chart_Upward">
        <div id="simulator_chart_upward" class="module__animated-image module__bg module scrollAnimation--capable scrollAnimation--before">
          <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4 chart_col__news">
              <div id="News">
                <div class="news">
                  <div class="news__heading">All News</div>
                  <div class="news__container">
                    <div class="news__item news__item--index-1">
                      <div class="news__item__title">
                        <span>Extreme Flooding Has Reduced The Corn Harvest</span>
                        <div class="newsprint"></div>
                        <div class="newsprint short"></div>
                      </div>
                      <div class="newsprint"></div>
                      <div class="newsprint short"></div>
                      <div class="news__cta">Read More</div>
                    </div>
                    <div class="news__item news__item--index-2">
                      <div class="news__item__title">
                        <span>Bumper Crop Expected as Mild Temperatures Persist</span>
                        <div class="newsprint"></div>
                        <div class="newsprint short"></div>
                      </div>
                      <div class="newsprint"></div>
                      <div class="newsprint short"></div>
                      <div class="news__cta">Read More</div>
                    </div>
                  </div>
                  <div class="mouse"></div>
                </div>
                <div class="shadow shadow_254"></div>
              </div>
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8 chart_col__chart">
              <div id="Time_Flood">
                <div class="chart barn high">
                  <div class="line"></div>
                  <div class="icon"></div>
                  <!--
  <div class="tractor"></div>
  <div class="corn"></div>
-->
                  <div class="mask"></div>
                </div>
                <div class="chart__canvas barn high">
                  <div class="axes">
                    <div class="y-axis"></div>
                    <div class="x-axis"></div>
                    <div class="axes-label"></div>
                  </div>
                  <div class="y-axis-lines">
                    <div class="y-axis-line y-axis-line__1"></div>
                    <div class="y-axis-line y-axis-line__2"></div>
                    <div class="y-axis-line y-axis-line__3"></div>
                    <div class="y-axis-line y-axis-line__4"></div>
                    <div class="y-axis-line y-axis-line__5"></div>
                    <div class="y-axis-line y-axis-line__6"></div>
                  </div>
                  <div class="chart-content">
                    <div class="line"></div>
                    <div class="icon"></div>
                    <div class="mask"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {{#> column-layout--default}}
        <p>Today, you see an article detailing how extreme rainfall has reduced the corn harvest. You make the assumption that supply will be down, making it harder to satisfy demand and increasing the price of corn futures.</p>
      {{/column-layout--default}}
      
      <!-- error ai -->
      <div class="module__animated-image full-width" id="controller_Chart_Downward">
        <div id="simulator_chart_downward" class="module__animated-image module__bg module scrollAnimation--capable scrollAnimation--before">
          <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4 chart_col__news">
              <div id="News">
                <div class="news">
                  <div class="news__heading">All News</div>
                  <div class="news__container">
                    <div class="news__item news__item--index-1">
                      <div class="news__item__title">
                        <span>Extreme Flooding Has Reduced The Corn Harvest</span>
                        <div class="newsprint"></div>
                        <div class="newsprint short"></div>
                      </div>
                      <div class="newsprint"></div>
                      <div class="newsprint short"></div>
                      <div class="news__cta">Read More</div>
                    </div>
                    <div class="news__item news__item--index-2">
                      <div class="news__item__title">
                        <span>Bumper Crop Expected as Mild Temperatures Persist</span>
                        <div class="newsprint"></div>
                        <div class="newsprint short"></div>
                      </div>
                      <div class="newsprint"></div>
                      <div class="newsprint short"></div>
                      <div class="news__cta">Read More</div>
                    </div>
                  </div>
                  <div class="mouse"></div>
                </div>
                <div class="shadow shadow_254"></div>
              </div>
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8 chart_col__chart">
              <div class="chart sun low">
                <div class="line"></div>
                <div class="icon"></div>
                <!--
  <div class="tractor"></div>
  <div class="corn"></div>
-->
                <div class="mask"></div>
              </div>
              <div class="chart__canvas sun low">
                <div class="axes">
                  <div class="y-axis"></div>
                  <div class="x-axis"></div>
                  <div class="axes-label"></div>
                </div>
                <div class="y-axis-lines">
                  <div class="y-axis-line y-axis-line__1"></div>
                  <div class="y-axis-line y-axis-line__2"></div>
                  <div class="y-axis-line y-axis-line__3"></div>
                  <div class="y-axis-line y-axis-line__4"></div>
                  <div class="y-axis-line y-axis-line__5"></div>
                  <div class="y-axis-line y-axis-line__6"></div>
                </div>
                <div class="chart-content">
                  <div class="line"></div>
                  <div class="icon"></div>
                  <div class="mask"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {{#> column-layout--default}}
        <p>Conversely, if reports indicate a mild summer and a bumper corn harvest, you might make the assumption that supply will outstrip demand, resulting in a price drop.</p>
      {{/column-layout--default}}

      {{#with page.related-links}}
        {{> links-related-new }}
      {{/with}}

    </div>
  </article>

  {{> global--social-share}}

</div>

{{#with page.article-pagination}}
  {{> article-pagination}}
{{/with}}
