---
url: explore-the-marketplace/the-exchange-how-it-works/index.html
title: "The Exchange: How It Works - Futures Fundamentals"
body:
  class: singular page page-id-121 page-parent page-child parent-pageid-42 page-template-default page--exchange-how-it-works
mainDivClass: article
hero:
  image:
    id: exch_how_it_works
eyebrow: Explore the Marketplace
headline: 'The Exchange: How It Works'
article-pagination:
  next:
    href: /explore-the-marketplace/the-exchange-how-it-works/learn-how-to-trade/
    name: Learn How to Trade
  prev:
    href: /explore-the-marketplace/the-wide-world-of-futures-traders/
    name: The Wide World of Futures Traders
---

{{#with page.hero}}
  {{> article-hero }}
{{/with}}

{{#with page}}
  {{> page-headline}}
{{/with}}

<div class="container">
  <article id="post-121" class="post-121 page type-page status-publish hentry">
    <div class="cf-content">

      {{#> column-layout--default includeGlossary=true}}
        <p><em class="glossary__term">Traders</em> from all over the world come to a futures exchange for a stable, regulated, transparent and liquid venue on which to buy and sell futures contracts. These exchanges were born on the streets of Chicago, eventually moving indoors to the bustling <em class="glossary__term" data-term="open-outcry">open-outcry</em> pits we’ve come to associate with the concept of trading. But today’s exchanges are almost entirely electronic, executing millions of trades per second and offering <em class="glossary__term" data-term="market participant">market participants</em> around-the-clock access to the global markets.</p>
      {{/column-layout--default}}

      {{#> column-layout--default}}
        <h3 class="article_headline">The ingredients of a futures exchange</h3>
        <p>In the broadest sense, there are four key components that make a futures exchange tick.</p>
      {{/column-layout--default}}

      {{#> column-layout--default}}
        <h4 class="article_subhead">1. Futures traders: hedgers and speculators</h4>
        <p>These two types of traders go hand in hand, ensuring the flow of trades back and forth and bringing balance to the market.</p>
      {{/column-layout--default}}

      {{#> column-layout--default includeGlossary=true}}
        <h4 class="article_subhead">2. Trading technology: the nerve center</h4>
        <p><em class="glossary__term" data-term="electronic trading">Electronic trading</em> platforms enable exchanges to operate on a global scale, providing a steady level of speed, access and <em class="glossary__term" data-term="transparency">transparency</em> for everyone.</p>
      {{/column-layout--default}}

      {{#> column-layout--default includeGlossary=true}}
        <h4 class="article_subhead">3. Clearing: the integrity behind every trade</h4>
        <p><em class="glossary__term">Clearing houses</em> stand at the center of every trade, acting as the buyer for every seller and the seller for every buyer, ensuring that each side can make good on the terms of the trade and protecting the integrity of the market.</p>
      {{/column-layout--default}}
      
      {{#> column-layout--default includeGlossary=true}}
        <h4 class="article_subhead">4. Liquidity: the more, the better</h4>
        <p><em class="glossary__term" data-term="liquidity">Liquidity</em> is the ability for every buyer to find a seller, and every seller to find a buyer, so that trading activity can remain consistent and reliable.</p>
      {{/column-layout--default}}

      {{#> column-layout--default}}
        <h3 class="article_headline">A full definition of liquidity:</h3>
      {{/column-layout--default}}

      <a name="liquidity"></a>
      {{> brightcove-video id='liquidity' vid-id='ref:131104vsarisk_liquidity' }}
    </div>
  </article>
  
  {{> global--social-share}}

</div>

{{#with page.article-pagination}}
  {{> article-pagination}}
{{/with}}