---
url: explore-the-marketplace/the-exchange-how-it-works/understand-the-market-snapshot/index.html
title: Understand the Market Snapshot - Futures Fundamentals
body:
  class: singular page page-id-137 page-child parent-pageid-121 page-template-default page--understand-market-snapshot
mainDivClass: article 
hero:
  image:
    id: undrstnd_mkt_snapshot
eyebrow: 'The Exchange: How it Works'
headline: Understand the Market Snapshot
related-links:
  links:
    -
      data: trading-simulator
      layout: horizontal
article-pagination:
  next:
    href: /explore-the-marketplace/the-exchange-how-it-works/study-the-trading-chart/
    name: Study the Trading Chart
  prev:
    href: /explore-the-marketplace/the-exchange-how-it-works/learn-how-to-trade/
    name: Learn How to Trade
---

{{#with page.hero}}
  {{> article-hero}}
{{/with}}

{{#with page}}
  {{> page-headline }}
{{/with}}

<div class="container">
  <article id="post-137" class="post-137 page type-page status-publish hentry">
    <div class="cf-content">

      {{#> column-layout--default}}
        <p>The first piece of technical analysis is the market snapshot, which summarizes current market activity, allowing you to quickly process key information about corn market movement.</p>
        <p>First, let’s break down what all of those numbers and letters mean.</p>
      {{/column-layout--default}}

      <!-- error ai -->
      <div class="module__animated-image full-width" id="controller_Market_Snapshot">
        <div id="simulator_market_snapshot" class="module__animated-image module__bg module scrollAnimation--capable scrollAnimation--before">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="market-snapshot--desktop-xl--mobile-s market-snapshot-white">
                <div class="market_snapshot_component highlight-container ">
                  <div class="market_snapshot_component__title">Corn</div>
                  <div class="market_snapshot_component__current-price" data-highlight-element="#simulator_market_snapshot__text__current-price">366.75 <span class="floating-number floating-number__1">1</span></div>
                  <div class="market_snapshot_component__high-low">
                    <div class="prices-container" data-highlight-element="#simulator_market_snapshot__text__prices">
                      <span class="prices">High 371.5 <br />Low 366.75</span>
                      <span class="floating-number floating-number__2">2</span>
                    </div>
                    <div class="movement-container" data-highlight-element="#simulator_market_snapshot__text__movement" <span class="movement">+2.25
                      <br />+0.61%</span>
                      <span class="floating-number floating-number__4">4</span>
                    </div>
                  </div>
                  <div class="market_snapshot_component__ticker-symbol" data-highlight-element="#simulator_market_snapshot__text__ticker-symbol">ZCZ5 <span class="floating-number floating-number__3">3</span></div>
                  <button class="market_snapshot_component__btn">Trade</button>
                </div>
                <div class="shadow shadow_356"></div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6" id="simulator_market_snapshot__text">
              <ol>
                <li id="simulator_market_snapshot__text__current-price" data-highlight-element="#simulator_market_snapshot .market_snapshot_component__current-price">
                  <div><strong>Current Price</strong> This is the current price at which corn is being bought or sold.</div>
                </li>
                <li id="simulator_market_snapshot__text__prices" data-highlight-element="#simulator_market_snapshot .prices-container">
                  <div><strong>High/Low</strong> This tells you the highest and lowest prices corn traded at today.</div>
                </li>
                <li id="simulator_market_snapshot__text__ticker-symbol" data-highlight-element="#simulator_market_snapshot .market_snapshot_component__ticker-symbol">
                  <div><strong>Ticker Symbol</strong> The first two letters indicate the product, in this case electronically traded (Z) corn (C). The next two symbols indicate the month and year of corn being traded, in this case December (Z) 2015 (5).</div>
                </li>
                <li id="simulator_market_snapshot__text__movement" data-highlight-element="#simulator_market_snapshot .movement-container">
                  <div><strong>Movement</strong> This displays the day’s price movement in both market points and percentage points.</div>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>

      {{#> column-layout--default}}
        <p>There’s one more key piece to reading a market snapshot: color. If the corn section is green, the market is moving up. If it's red, it’s headed down. And the darker the color, the more extreme the movement.</p>
      {{/column-layout--default}}
      
      <!-- error ai -->
      <div class="module__animated-image full-width" id="controller_Market_Snapshot_Colors">
        <div id="simulator_market_snapshot_colors" class="module__animated-image   module  scrollAnimation--capable scrollAnimation--before">
          <div class="row">
            <div class="col-sm-0 col-md-2 col-lg-2">&nbsp;</div>
            <div class="col-sm-6 col-md-4 col-lg-4 module__bg">
              <div class="market-snapshot--green market-snapshot--desktop-l--tablet-s--mobile-s">
                <div class="market_snapshot_component highlight-container ">
                  <div class="market_snapshot_component__title">Corn</div>
                  <div class="market_snapshot_component__current-price" data-highlight-element="#simulator_market_snapshot__text__current-price">366.75 <span class="floating-number floating-number__1">1</span></div>
                  <div class="market_snapshot_component__high-low">
                    <div class="prices-container" data-highlight-element="#simulator_market_snapshot__text__prices">
                      <span class="prices">High 371.5 <br />Low 366.75</span>
                      <span class="floating-number floating-number__2">2</span>
                    </div>
                    <div class="movement-container" data-highlight-element="#simulator_market_snapshot__text__movement" <span class="movement">+2.25
                      <br />+0.61%</span>
                      <span class="floating-number floating-number__4">4</span>
                    </div>
                  </div>
                  <div class="market_snapshot_component__ticker-symbol" data-highlight-element="#simulator_market_snapshot__text__ticker-symbol">ZCZ5 <span class="floating-number floating-number__3">3</span></div>
                  <button class="market_snapshot_component__btn">Trade</button>
                </div>
                <div class="arrow green enter-from-bottom"></div>
              </div>
              <div class="shadow shadow_343"></div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 module__bg">
              <div class="market-snapshot--red market-snapshot--desktop-l--tablet-s--mobile-s">
                <div class="market_snapshot_component highlight-container ">
                  <div class="market_snapshot_component__title">Corn</div>
                  <div class="market_snapshot_component__current-price" data-highlight-element="#simulator_market_snapshot__text__current-price">366.75 <span class="floating-number floating-number__1">1</span></div>
                  <div class="market_snapshot_component__high-low">
                    <div class="prices-container" data-highlight-element="#simulator_market_snapshot__text__prices">
                      <span class="prices">High 371.5 <br />Low 366.75</span>
                      <span class="floating-number floating-number__2">2</span>
                    </div>
                    <div class="movement-container" data-highlight-element="#simulator_market_snapshot__text__movement" <span class="movement">+2.25
                      <br />+0.61%</span>
                      <span class="floating-number floating-number__4">4</span>
                    </div>
                  </div>
                  <div class="market_snapshot_component__ticker-symbol" data-highlight-element="#simulator_market_snapshot__text__ticker-symbol">ZCZ5 <span class="floating-number floating-number__3">3</span></div>
                  <button class="market_snapshot_component__btn">Trade</button>
                </div>
                <div class="arrow red enter-from-top"></div>
              </div>
              <div class="shadow shadow_343"></div>
            </div>
            <div class="col-sm-0 col-md-2 col-lg-2">&nbsp;</div>
          </div>
        </div>
      </div>

      {{#> column-layout--default}}
        <p>When you pull back and look at the complete snapshot, you can more clearly and effectively understand how markets move in real time – and how that impacts your trading strategies.</p>
      {{/column-layout--default}}
      
      <!-- error ai -->
      <div class="module__animated-image full-width" id="controller_Market_Snapshot_Group">
        <div id="simulator_market_snapshot_group" class="module__animated-image module__bg module  scrollAnimation--capable scrollAnimation--before">
          <div class=" market-snapshots-inline">
            <div class="market-snapshot market-snapshot--green market-snapshot-inline-group-size market-snapshot--index-1">
              <div class="market_snapshot_component highlight-container market-snapshot--index-1">
                <div class="market_snapshot_component__title">Soybeans</div>
                <div class="market_snapshot_component__current-price" data-highlight-element="#simulator_market_snapshot__text__current-price">868.5 <span class="floating-number floating-number__1">1</span></div>
                <div class="market_snapshot_component__high-low">
                  <div class="prices-container" data-highlight-element="#simulator_market_snapshot__text__prices">
                    <span class="prices">High 877.5 <br />Low 868.5</span>
                    <span class="floating-number floating-number__2">2</span>
                  </div>
                  <div class="movement-container" data-highlight-element="#simulator_market_snapshot__text__movement" <span class="movement">+5.25
                    <br />+0.6%</span>
                    <span class="floating-number floating-number__4">4</span>
                  </div>
                </div>
                <div class="market_snapshot_component__ticker-symbol" data-highlight-element="#simulator_market_snapshot__text__ticker-symbol">ZSX5 <span class="floating-number floating-number__3">3</span></div>
                <button class="market_snapshot_component__btn">Trade</button>
              </div>
            </div>
            <div class="market-snapshot market-snapshot--red market-snapshot-inline-group-size market-snapshot--index-2">
              <div class="market_snapshot_component highlight-container red market-snapshot--index-2">
                <div class="market_snapshot_component__title">Mini Soybeans</div>
                <div class="market_snapshot_component__current-price" data-highlight-element="#simulator_market_snapshot__text__current-price">878 <span class="floating-number floating-number__1">1</span></div>
                <div class="market_snapshot_component__high-low">
                  <div class="prices-container" data-highlight-element="#simulator_market_snapshot__text__prices">
                    <span class="prices">High 878 <br />Low 868.75</span>
                    <span class="floating-number floating-number__2">2</span>
                  </div>
                  <div class="movement-container" data-highlight-element="#simulator_market_snapshot__text__movement" <span class="movement">+4.125
                    <br />+0.47%</span>
                    <span class="floating-number floating-number__4">4</span>
                  </div>
                </div>
                <div class="market_snapshot_component__ticker-symbol" data-highlight-element="#simulator_market_snapshot__text__ticker-symbol">XKX5 <span class="floating-number floating-number__3">3</span></div>
                <button class="market_snapshot_component__btn">Trade</button>
              </div>
            </div>
            <div class="market-snapshot market-snapshot--green market-snapshot-inline-group-size market-snapshot--index-3">
              <div class="market_snapshot_component highlight-container market-snapshot--index-3">
                <div class="market_snapshot_component__title">Wheat</div>
                <div class="market_snapshot_component__current-price" data-highlight-element="#simulator_market_snapshot__text__current-price">476.5 <span class="floating-number floating-number__1">1</span></div>
                <div class="market_snapshot_component__high-low">
                  <div class="prices-container" data-highlight-element="#simulator_market_snapshot__text__prices">
                    <span class="prices">High 479.5 <br />Low 471.5</span>
                    <span class="floating-number floating-number__2">2</span>
                  </div>
                  <div class="movement-container" data-highlight-element="#simulator_market_snapshot__text__movement" <span class="movement">+4.75
                    <br />+1.01%</span>
                    <span class="floating-number floating-number__4">4</span>
                  </div>
                </div>
                <div class="market_snapshot_component__ticker-symbol" data-highlight-element="#simulator_market_snapshot__text__ticker-symbol">ZWZ5 <span class="floating-number floating-number__3">3</span></div>
                <button class="market_snapshot_component__btn">Trade</button>
              </div>
            </div>
            <div class="market-snapshot market-snapshot--green market-snapshot-inline-group-size market-snapshot--index-4">
              <div class="market_snapshot_component highlight-container market-snapshot--index-4">
                <div class="market_snapshot_component__title">Corn</div>
                <div class="market_snapshot_component__current-price" data-highlight-element="#simulator_market_snapshot__text__current-price">366.75 <span class="floating-number floating-number__1">1</span></div>
                <div class="market_snapshot_component__high-low">
                  <div class="prices-container" data-highlight-element="#simulator_market_snapshot__text__prices">
                    <span class="prices">High 371.5 <br />Low 366.75</span>
                    <span class="floating-number floating-number__2">2</span>
                  </div>
                  <div class="movement-container" data-highlight-element="#simulator_market_snapshot__text__movement" <span class="movement">+2.25
                    <br />+0.61%</span>
                    <span class="floating-number floating-number__4">4</span>
                  </div>
                </div>
                <div class="market_snapshot_component__ticker-symbol" data-highlight-element="#simulator_market_snapshot__text__ticker-symbol">ZCZ5 <span class="floating-number floating-number__3">3</span></div>
                <button class="market_snapshot_component__btn">Trade</button>
              </div>
            </div>
          </div>
          <div class="shadow shadow_740"></div>
        </div>
      </div>

      {{#> column-layout--default includeGlossary=true}}
        <p>Now you know how to read the snapshot. The next step is understanding how that information allows you to look for trends in the corn market as you delve into the second piece of <em class="glossary__term" data-term="technical analysis">technical analysis</em> – the trading chart.</p>
      {{/column-layout--default}}

      {{#with page.related-links}}
        {{> links-related-new }}
      {{/with}}

    </div>
  </article>
  
  {{> global--social-share}}

</div>

{{#with page.article-pagination}}
  {{> article-pagination}}
{{/with}}
