$xs: ( max:  500px );
$sm: ( min:  501px, max: 767px );
$md: ( min:  768px, max: 979px );
$lg: ( min:  980px, max: 1200px );
$xl: ( min: 1200px );
$sm-only: ( min: map-get($sm, min), max: map-get($md, min) - 1 );
$md-only: ( min: map-get($md, min), max: map-get($lg, min) - 1 );


@mixin left_triangle($color:#000000) {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 26px 26px 26px 0;
	border-color: transparent $color transparent transparent;
}

@mixin right_triangle($color:#000000) {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 26px 0 26px 26px ;
	border-color: transparent transparent transparent $color;
}

@mixin shadow($shadow:2px 2px 2px #CCC) {
	-webkit-box-shadow:$shadow;
	-moz-box-shadow: $shadow;
	box-shadow: $shadow;
}


@mixin breakpoint($map) {
  $query: "";
  @if map-has-key($map, min) { $query: append($query, "(min-width: #{map-get($map, min)})") }
  @if map-has-key($map, min) and map-has-key($map, max) { $query: append($query, "and") }
  @if map-has-key($map, max) { $query: append($query, "(max-width: #{map-get($map, max)})") }
  @media screen and #{$query} { @content; }
}

@mixin background-transToWhite {
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 16%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(16%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 16%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 16%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 16%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 16%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}


/* ==========================================================================
  Mixins - Typekit
  ========================================================================== */
@mixin weight-thin {
  font-weight:100;
}
@mixin weight-xlgt {
  font-weight:200;
}
@mixin weight-lgt {
  font-weight:300;
}
@mixin weight-norm {
  font-weight:400;
}
@mixin weight-med {
  font-weight:500;
}
@mixin weight-dbold {
  font-weight:600;
}
@mixin weight-bold {
  font-weight:700;
}
@mixin weight-hvy {
  font-weight:800;
}
@mixin weight-black {
  font-weight:900;
}

/* ==========================================================================
  Mixins
  ========================================================================== */
@mixin clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin animate($animate: all 300ms ease-in-out ) {
	-webkit-transition: $animate;
	-moz-transition: $animate;
	-o-transition: $animate;
	-ms-transition: $animate;
	transition: $animate;
}

@mixin transition($transition... ) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  -ms-transition: $transition;
  transition: $transition;
}

@mixin animate-delay($delay...) {
    -moz-transition-delay: $delay;
    -o-transition-delay: $delay;
    -webkit-transition-delay: $delay;
    transition-delay: $delay;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -o-transform: $transform;
  -ms-transform: $transform;
  transform: $transform;
}

@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
  }
}

@mixin backface( $visibility: hidden ) {
  -webkit-backface-visibility: $visibility;
  -moz-backface-visibility: $visibility;
  -o-backface-visibility: $visibility;
  -ms-backface-visibility: $visibility;
  backface-visibility: $visibility;
}

@mixin rounded($radius: 15px) {

	-moz-border-radius: $radius !important;
	border-radius: $radius !important;
	-webkit-border-radius: $radius !important;
}

@mixin font-smoothing($value:antialiased) {
	-webkit-font-smoothing: $value;
	-moz-font-smoothing: $value;
	font-smoothing: $value;
}

@mixin icon-font-base (){
    speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin font-icon () {
  font-family: 'belgard';
  @include icon-font-base;
}

@mixin font-icon-applications () {
  font-family: 'belgard-applications';
  @include icon-font-base;
}

@mixin font-icon-moon () {
  font-family: 'icomoon';
  @include icon-font-base;
}

@mixin arial () {
  font-family:Arial, sans-serif;
  @include font-smoothing(subpixel-antialiased);
}

@mixin vertical-align () {
  position:absolute;
  top:50%;
  @include transform(translateY(-50%));
}

@mixin horizontal-align () {
  position:absolute;
  left:50%;
  @include transform(translateX(-50%));
}

@mixin full-center () {
  position:absolute;
  top:50%;
  left:50%;
  @include transform(translateX(-50%) translateY(-50%));
}

@mixin vertical-align-cancel () {
  position:relative;
  top:0;
  @include transform(translateY(0));
}

@mixin full-center-cancel () {
  position:relative;
  top:0;
  left:0;
  @include transform(translateX(0) translateY(0));
}
