/*
 *  text fade in
 */

@include keyframes(textFadeIn) {
  0%    {
  	opacity:0;
    @include transform(translateY(30px));
  }
  100%  {
  	opacity:1;
   	@include transform(translateY(0));
  }
}

@mixin textFadeIn($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(textFadeIn);
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

/*
 *  fade in
 */

@include keyframes(fadeIn) {
  0%    {
  	opacity:0;
  }
  100%  {
  	opacity:1;
  }
}

@mixin fadeIn($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(fadeIn);
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

/*
 *  mobile attention
 */

@include keyframes(mobileAtten) {
  0%    {
  	@include transform(scaleX(0));
    transform-origin: left;
  }
  49% {
  	@include transform(scaleX(1));
    transform-origin: left;
  }
  51% {
    @include transform(scaleX(1));
    transform-origin: right;
  }
  100% {
  	@include transform(scaleX(0));
    transform-origin: right;
  }
}

@mixin mobileAtten($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(mobileAtten);
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

