/*
Error: Undefined mixin 'keyframes'.
        on line 5 of sass/scss/infographic_animate/quiz_animation.scss, in `keyframes'
        from line 5 of sass/scss/infographic_animate/quiz_animation.scss
        from line 1 of sass/scss/food-prices-mod.scss

1: @import "infographic_animate/quiz_animation";
2: @import "infographic_animate/fp_animation";
3: 
4: #food-prices__mod {
5: 	margin-bottom:50px;
6: 	.food-prices-factors-mod {
7: 
8: 		@include animate(all 800ms);
9: 
10: 		&.fp-hide {visibility:hidden; opacity:0;}

Backtrace:
sass/scss/infographic_animate/quiz_animation.scss:5:in `keyframes'
sass/scss/infographic_animate/quiz_animation.scss:5
sass/scss/food-prices-mod.scss:1
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:351:in `block in visit_mixin'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/stack.rb:98:in `with_mixin'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:349:in `visit_mixin'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:328:in `block (2 levels) in visit_import'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:328:in `map'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:328:in `block in visit_import'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/stack.rb:88:in `block in with_import'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/stack.rb:88:in `with_import'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:325:in `visit_import'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:159:in `visit'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:294:in `watch'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/plugin.rb:109:in `method_missing'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:360:in `watch_or_update'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/exec/base.rb:52:in `parse'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/lib/sass/exec/base.rb:19:in `parse!'
/Users/afalconer/.rvm/gems/ruby-2.1.1/gems/sass-3.4.22/bin/sass:13:in `<top (required)>'
/Users/afalconer/.rvm/gems/ruby-2.1.1/bin/sass:23:in `load'
/Users/afalconer/.rvm/gems/ruby-2.1.1/bin/sass:23:in `<main>'
/Users/afalconer/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `eval'
/Users/afalconer/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'keyframes'.\A         on line 5 of sass/scss/infographic_animate/quiz_animation.scss, in `keyframes'\A         from line 5 of sass/scss/infographic_animate/quiz_animation.scss\A         from line 1 of sass/scss/food-prices-mod.scss\A \A 1: @import \"infographic_animate/quiz_animation\";\A 2: @import \"infographic_animate/fp_animation\";\A 3: \A 4: #food-prices__mod {\A 5: 	margin-bottom:50px;\A 6: 	.food-prices-factors-mod {\A 7: \A 8: 		@include animate(all 800ms);\A 9: \A 10: 		&.fp-hide {visibility:hidden; opacity:0;}"; }
