* {outline:0;}

body {color:$gray-40;}

.lowercase { text-transform: none !important; }

ul {list-style:none; margin:0; padding:0;}

.pull-right, .pull-left {
	@include mq($until: medium) {
		float:none !important;
	}
}

.button {
	display:inline-block;
	font:12px/19px $benton;
	font-weight:bold;
	color:$white;
	letter-spacing:.92px;
	background-color:$blue-40;
	padding:16px 38px 16px 14px;
	text-transform:uppercase;
	position:relative;
	@include animate(all 300ms ease);
	&:before {
		content:"";
		display:block;
		position:absolute;
		top:0;
		left:0;
		bottom:0;
		right:0;
		background-color:$hover-overlay;
		opacity:0;
		@include animate(opacity 300ms ease);
	}
	&:after {
		content:"";
		display:block;
		position:absolute;
		right:15px;
		top:0;
		width:12px;
		height:100%;
		background:url('../img/link_caret.png') no-repeat center center;
		background-size:12px 21px;
		@include animate(all 300ms ease);
	}
	&:hover {
		color:$white;
		text-decoration:none;
		&:before {
			opacity:1;
		}
		&:after {
			@include transform(translateX(5px));
		}
	}

	&:focus {
		color: #fff;
		text-decoration: none;
		outline: 0;
	}

	@include mq($until: large) {
		font-size:10px;
	}
}

.col {
	height:100%;
}

.full-width {
	margin-top:0;

	@include animate(padding-top 300ms ease);
}

.cf-content {
	margin-bottom:0;
	@include animate(margin-bottom 300ms ease);
}


