.page-template-tpl_glossary {

	.container {
		padding-bottom: 40px;
	}

	.glossaryTerm {

		padding-bottom: 50px;

		@include mq($until: medium) {
			padding-bottom: 30px;
		}

		&:first-child {
			.glossaryTerm__term {
				margin-top: 20px;
			}
		}

		&__term {
			font-family: $whitman;
			font-weight: bold;
			font-size: 24px;
			color: #4A4A4A;
			letter-spacing: 0px;
			line-height: 24px;
			border-top: 1px solid #979797;
			padding-top: 20px;
			margin-top: 0;
			margin-bottom: 4px;

			@include mq($until: medium) {
				font-size: 16px;
				letter-spacing: -0.11px;
				line-height: 24px;
			}

		}

		&__definition {
			/* Algorithm : */
			font-family: $whitman;
			font-size: 24px;
			color: #6d6c6d;
			letter-spacing: 0px;
			line-height: 28px;

			@include mq($until: medium) {
				font-size: 16px;
				letter-spacing: -0.11px;
				line-height: 24px;
			}
		}

		&__seen-in {
			/* AS SEEN IN: */
			font-family: $benton-med;
			font-size: 10px;
			color: #9B9B9B;
			letter-spacing: 0.75px;
			line-height: 20px;
			text-transform: uppercase;
			display: block;

			@include mq($until: medium) {
				font-size: 8px;
				letter-spacing: 0.6px;
				line-height: 10px;
			}

		}

		&__locations {

			border-top: 1px solid #979797;
			padding-top: 20px;

			@include mq($until: large) {
				border-top: 0;
				padding-top: 0;

			}



			li {
				padding: 13px 0;
				background: url(../img/gray_line_13px.png) bottom left no-repeat;

				&:last-child { background: transparent; }

				@include mq($until: medium) {
					padding: 10px 0;
				}
			}

			a {
				font-family: $benton-med;
				font-size: 14px;
				color: #337ab7;
				letter-spacing: 0.3px;
				line-height: 20px;
				text-decoration: none;

				&:hover {
					color: #23527c;
					text-decoration: underline;
				}

				@include mq($until: medium) {
					font-size: 12px;
					letter-spacing: 0px;
					line-height: 16px;
				}

			}
		}
	}
}

