---
url: explore-the-marketplace/over-the-counter-trading/index.html
title: "Over-the-Counter Trading - Futures Fundamentals" 
body:
  class: singular page page-id-69 page-child parent-pageid-42 page-template-default page--over-the-counter-trading
mainDivClass: article
hero:
  image:
    id: over_counter_trdng
eyebrow: Explore the Marketplace
headline: Over-the-Counter vs. Over-the-Exchange
article-pagination:
  prev:
    href: /explore-the-marketplace/protecting-the-futures-markets/the-regulatory-measures/
    name: The Regulatory Measures
---

{{#with page.hero}}
  {{> article-hero}}
{{/with}}

{{#with page}}
  {{> page-headline}}
{{/with}}

<div class="container">
  <article id="post-69" class="post-69 page type-page status-publish hentry">
    <div class="cf-content">

      {{#> column-layout--default includeGlossary=true}}
        <p>It’s hard to talk about <em class="glossary__term">futures</em> without mentioning <em class="glossary__term" data-term="option">options</em> over-the-counter <em class="glossary__term" data-term="contract">contracts</em>, particularly those in the interest rate, foreign exchange and <em class="glossary__term" data-term="commodity">commodities</em> markets. Over-the-counter, or OTC, trades are those that take place between a buyer and a seller outside of a formal exchange.</p>
        <p><em class="glossary__term" data-term="over-the-counter derivative">OTC derivatives</em> let traders go beyond standardized futures products and customize the terms of the contracts they trade. Usually, the traders work through a network of dealers who negotiate these agreements on a one-to-one basis. Though it offers greater freedom and potentially lower trading costs, <em class="glossary__term" data-term="over-the-counter trading">OTC trading</em> may leave both parties at risk for <em class="glossary__term" data-term="counterparty">counterparty</em> default if they are not using the services of a <em class="glossary__term">clearing house</em>.</p>
      {{/column-layout--default}}
    </div>
  </article>

  {{> global--social-share}}
</div>

{{#with page.article-pagination}}
  {{> article-pagination}}
{{/with}}
