---
url: explore-the-marketplace/the-regulatory-measures/index.html
title: The Regulatory Measures - Futures Fundamentals
body:
  class: singular page page-id-68 page-child parent-pageid-42 page-template-default page--regulatory-measures
mainDivClass: article
hero:
  image:
    id: regul_msrs
eyebrow: Protecting the Futures Markets
headline: The Regulatory Measures
related-links:
  links:
    -
      data: pdf.market-abuse
      layout: horizontal
article-pagination:
  next:
    href: /explore-the-marketplace/over-the-counter-trading/
    name: Over-the-Counter Trading
  prev:
    href: /explore-the-marketplace/protecting-the-futures-markets/how-to-clear-a-trade/
    name: How to Clear a Trade
---

{{#with page.hero}}
  {{> article-hero}}
{{/with}}

{{#with page}}
  {{> page-headline}}
{{/with}}

<div class="container">
  <article id="post-68" class="post-68 page type-page status-publish hentry">
    <div class="cf-content">

      {{#> column-layout--default includeGlossary=true}}
        <p>As with any other financial business responsible for handling people’s money, futures exchanges operate within very strict, very closely watched guidelines. This regulation comes from both outside and inside the exchange, ensuring that everything that happens at an <em class="glossary__term" data-term="exchange">exchange</em> follows the letter and spirit of the law.</p>
      {{/column-layout--default}}

      {{#> column-layout--default includeGlossary=true }}
        <h3 class="article_headline">Outside the exchange</h3>
        <p>In the United States, the <em class="glossary__term">Commodity Futures Trading Commission (CFTC)</em> regulates the nation’s futures and <em class="glossary__term" data-term="option">options</em> markets. Its oversight protects <em class="glossary__term" data-term="market participant">market participants</em> from fraud, manipulation and <em class="glossary__term" data-term="market abuse">market abuse</em>, and ensures the financial integrity of an exchange.</p>
      {{/column-layout--default}}

      {{#> column-layout--default includeGlossary=true }}
        <h3 class="article_headline">Inside the exchange</h3>
        <p>Futures exchanges are <em class="glossary__term" data-term="self-regulatory organization (SRO)">self-regulatory organizations</em>, or SROs, meaning that they create and enforce rules and standards that comply with CFTC principles, protect market participants and promote integrity and equality throughout the industry. Typically, there is a formalized department that works within the exchange, running constant surveillance and compliance measures on each and every activity performed at an exchange.</p>
      {{/column-layout--default}}

      {{#with page.related-links}}
        {{> links-related-new }}
      {{/with}}

    </div>
  </article>

  {{> global--social-share}}
</div>

{{#with page.article-pagination}}
  {{> article-pagination}}
{{/with}}
