---
url: explore-the-marketplace/the-wide-world-of-futures-traders/index.html
title: The Wide World of Futures Traders - Futures Fundamentals
body:
  id: main-content
  class: singular page page-id-51 page-parent page-child parent-pageid-42 page-template-default page--wide-world-futures-traders
mainDivClass: article
eyebrow: Explore the Marketplace
headline: The Wide World of Futures Traders
hero:
  image:
    id: world_futures_trading
quiz:
  -
    icon: home-owner
    question:
      headline: Homeowner
      copy: Buys a home with hopes to sell it when the market value exceeds the original price.
    answer:
      solution: speculator
      headline: The homeowner is speculating.
      copy: She is accepting real estate market risk in exchange for the opportunity to profit.
  -
    icon: fund-manager
    question:
      headline: The retirement fund manager
      copy: Contributes to a shared pool of investments in hopes of adding value to the client's portfolio.
    answer:
      solution: speculator
      headline: The retirement fund manager is speculating.
      copy: He is interacting with the markets in ways that may maximize his client's retirement fund.
  -
    icon: chocolate-maker
    question:
      headline: The chocolate maker
      copy: Locks in next year's cocoa supplies in case extreme weather decreases the cocoa crop.
    answer:
      solution: hedger
      headline: The chocolate maker is hedging.
      copy: Whatever happens to next year's cocoa crop, the company has locked in a stable supply at a predictable price.
  - 
    icon: chain-store
    question:
      headline: The chain store
      copy: Sets up shops in new places so that increased profits will exceed operating costs.
    answer:
      solution: speculator
      headline: The chain store is speculating.
      copy: The company is putting down capital and resources with the intent to profit off its investments.
  -
    icon: steel-distributor
    question:
      headline: The steel distributor
      copy: Orders large inventories of hot rolled coil so that they're paid for and ready when production spikes.
    answer:
      solution: hedger
      headline: The steel distributor is hedging.
      copy: The factory is locking in profits by ensuring that they have the supply needed to meet impending demand.
  -
    icon: stock-trader
    question:
      headline: The stock trader
      copy: Buys a piece of a company with the intent to sell it when that company's stock price increases.
    answer:
      solution: speculator
      headline: The stock trader is speculating.
      copy: She believes the company is poised to grow and, when it does, her returns will exceed her initial investment.
  -
    icon: car-collector
    question:
      headline: The car collector
      copy: Purchases insurance on his collection to protect himself from damage or theft.
    answer:
      solution: hedger
      headline: The car collector is hedging.
      copy: He is protecting his investment by transferring risk to an insurance company willing to protect him from financial loss.
    see-results: true
related-links:
  links:
    - 
      data: pdf.speculator
      layout: horizontal
  econ-links:
    -
      data: lesson.intro
      id: ff-intro-behavioral-econ
      layout: vertical
    - 
      data: lesson.preference
      layout: vertical
article-pagination:
  next:
    href: /explore-the-marketplace/the-exchange-how-it-works/
    name: 'The Exchange: How It Works'
  prev:
    section: See the Impact
    href: /see-the-impact/financial-futures/interest-rates-explained/
    name: Interest Rates Explained
---

{{#with page.hero}}
  {{> article-hero}}
{{/with}}

{{#with page}}
  {{> page-headline}}
{{/with}}

<div class="container">
  <article id="post-51" class="post-51 page type-page status-publish hentry">
    <div class="cf-content">

      {{#> column-layout--default includeGlossary=true }}
        <p>All kinds of people come to <em class="glossary__term" data-term="futures exchange">futures exchanges</em>, to buy and sell futures and <em class="glossary__term" data-term="option">options</em> <em class="glossary__term" data-term="contract">contracts</em>. They may work for banks, corporations or governments. They may be livestock ranchers, investment managers, construction planners, farmers or food manufacturers. Really, futures trading involves just about anyone in the world who wants either to manage the risk of fluctuating prices or profit from those fluctuations. But whoever they are, and wherever they came from, these <em class="glossary__term" data-term="trader">traders</em> are interested in two types of trading: <em class="glossary__term" data-term="hedge">hedging</em> and <em class="glossary__term" data-term="speculator">speculating</em>.</p>
        <p>Hedgers and speculators go hand in hand – if you took one away, there simply would be no market. Hedgers transfer risk, and speculators absorb that risk. It takes both types of traders to bring balance to the market and keep trades moving back and forth.</p>
      {{/column-layout--default}}

      {{#> column-layout--default}}
        <h3 class="article_headline">Meet the hedger</h3>
        <p>The hedger buys futures contracts because he wants to protect himself from price swings in the future. By using futures to lock in a future price for a product, he makes his costs – and his profits – more predictable. In other words, he trades futures to drive risk out of his business.</p>
        <p>But that risk doesn’t just disappear into thin air – it gets transferred to the speculator.</p>
      {{/column-layout--default}}

      {{#> column-layout--default}}
        <h3 class="article_headline">Meet the speculator</h3>
        <p>The speculator accepts price risk in pursuit of profit. Speculators have no interest in owning the product being traded, but they are interested in the contracts for those products. Think of it like investing – buying and selling futures contracts in order to make a profit when prices move in the right direction.</p>
      {{/column-layout--default}}

      {{#> column-layout--default includeGlossary=true }}
        <h3 class="article_headline">Hedger or Speculator</h3>
        <p>People who trade <em class="glossary__term" data-term="future">futures</em> contracts come to an exchange to hedge and speculate on the future prices of a wide range of products. Outside the exchanges, people hedge and speculate on all sorts of everyday financial matters. To better understand what these practices look like in the real world, take the quiz below.</p>
      {{/column-layout--default}}


      <!-- error sp -->
      <a name="quiz-carousel"></a>
      {{#> carousel-container id="quiz-carousel" class="infographic quiz scrollAnimation--capable scrollAnimation--before" noAnalytics=true hide-controls=true}}

        {{!-- title card --}}
        <div class="item active">
          <div class="col-md-4">
            <div class="carousel-image">
              <div class="quiz-animation"></div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="carousel-text title-slide">
              <div class="quiz-title"><img style="max-width:100%;" src="/assets/img/hedger-speculator/quiz-title.png" /></div>
              <p>What does hedging and speculating look like in everyday life? See if you can tell who's doing what.</p>
            </div>
            <div class="quiz-animation-mobile"></div>
            <!-- Left and right controls -->
            <div class="carousel-controls-container">
              <a class="right begin carousel-control" href="#quiz-carousel" role="button" data-slide="next">
                <span>Begin quiz</span>
              </a>
            </div>
          </div>
        </div>

        {{!-- questions --}}
        {{#each page.quiz}}
          {{> carousel-item--question-answer num=(sum @index 1) total-num=../page.quiz.length }}
        {{/each}}

        {{!-- results --}}
        <div class="item results-cell">
          <div class="col-md-4">
            <div class="slide-num slide-num-mobile">
              <span class="slide-number-index-final">Your Results</span>
              <div class="score-holder"><span class="score-title">Score</span> <span class="score">0</span> of <span class="total">{{ page.quiz.length }}</span></div>
            </div>
            <div class="carousel-image hidden-xs hidden-sm">
              <div class="quiz-icon icon-drop">
                <div class="results-icon"></div>
                <span class="icon-shadow"></span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="carousel-text results-text">
              <div class="slide-num">
                Your Results
                <div class="score-holder"><span class="score-title">Score</span> <span class="score">0</span> of <span class="total">{{ page.quiz.length }}</span></div>
              </div>
              <div class="slide-title">
                <div class="final-score">
                  <h4 class="restuls-message">Nice Job!</h4>
                  <h4 class="results-score"><span class="score">0</span> <span>of</span> {{ page.quiz.length }} correct</h4>
                </div>
              </div>
            </div>
            <div class="carousel-image visible-xs visible-sm">
              <div class="quiz-icon icon-drop">
                <div class="results-icon"></div>
                <span class="icon-shadow"></span>
              </div>
            </div>
            <div class="carousel-controls-container quiz-answer">
              <a class="retake carousel-control" href="#quiz-carousel" role="button" data-slide="next">
                <span>Retake</span>
              </a>
              <div class="quiz-share-holder">
                <a class="share carousel-control" role="button">
                  <span>Share Results</span>
                </a>
                <div class="share-foldout">
                  <ul class="share-buttons">
                    <li><a class="fb-icon" href="#">Facebook</a></li>
                    <li><a class="twitter-icon" href="#">Twitter</a></li>
                    <li><a class="gplus-icon addthis_button_google_plusone_share" href="#">Google Plus</a></li>
                    <li><a class="linkedin-icon" href="#">Linked In</a></li>
                    <li><a class="email-icon" href="#">Email</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/carousel-container}}

      {{#> column-layout--default}}
        <p>These were just a few examples of how hedgers and speculators operate in everyday life. And you know what? Any of these hedgers could act as speculators, and vice versa – it just depends on how their needs align with their appetite for risk at any point in time.</p>
      {{/column-layout--default}}
      
      <a name="hedgingandspeculating"></a>

      {{> brightcove-video id='hedgingandspeculating' vid-id='ref:1305CME_VisitorsCenter_Chapter04v3_2013' }}

      {{#with page.related-links}}
        {{> links-related-new }}
      {{/with}}

    </div>
  </article>

  <!-- #post-## -->
  {{> global--social-share }}
</div>

<!-- /.container -->
{{#with page.article-pagination}}
  {{> article-pagination}}
{{/with}}
