---
url: explore-the-marketplace/the-regulatory-measures/index.html
title: The Regulatory Measures - Futures Fundamentals
body:
  class: singular page page-id-68 page-child parent-pageid-42 page-template-default page--regulatory-measures
mainDivClass: article
hero:
  image:
    id: regul_msrs
eyebrow: Protecting the Futures Markets
headline: The Regulatory Measures
related-links:
  links:
    -
      data: pdf.market-abuse
      layout: horizontal
article-pagination:
  next:
    href: /explore-the-marketplace/over-the-counter-trading/
    name: Over-the-Counter Trading
  prev:
    href: /explore-the-marketplace/protecting-the-futures-markets/how-to-clear-a-trade/
    name: How to Clear a Trade
---

{{#with page.hero}}
  {{> article-hero}}
{{/with}}

{{#with page}}
  {{> page-headline}}
{{/with}}

<div class="container">
  <article id="post-68" class="post-68 page type-page status-publish hentry">
    <div class="cf-content">

      {{#> column-layout--default includeGlossary=true}}
        <p>As with any other financial business responsible for handling people’s money, futures <em class="glossary__term" data-term="exchange">exchanges</em> operate within very strict, very closely watched guidelines. This regulation comes from a strong partnership between government, self-regulatory organizations and exchanges and ensures that everything that happens in the marketplace follows the letter and spirit of the law. Sound regulation strengthens the resilience and integrity of the derivatives markets and protects market participants.</p>
      {{/column-layout--default}}

      {{#> column-layout--default includeGlossary=true }}
        <h3 class="article_headline">Outside the exchange</h3>
        <p>In the U.S, the <em class="glossary__term">Commodity Futures Trading Commission (CFTC)</em> regulates the nation’s futures and <em class="glossary__term" data-term="option">options</em> markets. Its oversight protects <em class="glossary__term" data-term="market participant">market participants</em> from fraud, manipulation and <em class="glossary__term" data-term="market abuse">market abuse</em>, and ensures the financial integrity of an exchange.</p>
        <p>NFA, the self-regulatory organization for the U.S. derivatives industry, is designated by the CFTC to safeguard the integrity of the derivatives markets, protect investors and ensure registered firms and associates meet their regulatory responsibilities. Self-regulation plays a central role in the regulation of the U.S. futures markets, in large part because of the historical evolution of those markets.</p>
      {{/column-layout--default}}

      {{#> column-layout--default includeGlossary=true }}
        <h3 class="article_headline">Inside the exchange</h3>
        <p>Futures exchanges are <em class="glossary__term" data-term="self-regulatory organization (SRO)">self-regulatory organizations</em>, or SROs, meaning that they create and enforce rules and standards that comply with CFTC principles, protect market participants and promote integrity and equality throughout the industry. Typically, there is a formalized department that works within the exchange, running constant surveillance and compliance measures on each and every activity performed at an exchange.</p>
      {{/column-layout--default}}

      {{#> column-layout--default includeGlossary=true }}
        <h3 class="article_headline">The benefits of regulation</h3>
        <p>Regulated firms and associates are held to a higher standard because of the innovative regulatory and enforcement programs of regulators and exchanges. These rules aim to safeguard the integrity of the derivatives markets and work to protect market participants from fraud, manipulation and market abuse. Regulators and exchanges also provide important due diligence, arbitration, restitution and educational resources that help market participants protect themselves.</p>
      {{/column-layout--default}}

      {{#with page.related-links}}
        {{> links-related-new }}
      {{/with}}

    </div>
  </article>

  {{> global--social-share}}
</div>

{{#with page.article-pagination}}
  {{> article-pagination}}
{{/with}}
