---
url: explore-the-marketplace/the-role-of-clearing-houses/index.html
title: "The Clearing House: The Integrity Behind Every Trade - Futures Fundamentals"
body:
  class: singular page-id-66 page-child parent-pageid-42 page-template-default page--clearing-house
mainDivClass: article
hero:
  image:
    id: role_clrng_hses
eyebrow: Protecting the Futures Markets
headline: 'The Clearing House: The Integrity Behind Every Trade'
carousel:
  -
    animation-id: opening
    class: 'title-slide'
    controls: begin
    active: true
    headline: Clearing made clear
    copy: This is more or less what you see when you make an electronic trade. Behind the scenes, however, a number of things happen to make sure that the trade goes through without a hitch.
    images:
      - 
        class: monitor_group
        images:
          - monitor
          - buy_btn
          - sell_btn
          - cleared_screen
          - cursor
  -
    animation-id: world
    headline: The world of clearing
    copy: The clearing house lives at the core of a futures exchange. Member firms act as a sort of intermediary between the traders and the main clearing house.
    images:
      -
        class: monitor_group
        images:
          - monitor
          - buy_btn
          - sell_btn
          - cleared_screen
          - cursor
      - firm
      - bob
      - people01
      - people02
      - people03
      - people04
      - inter_arrow01
      - inter_arrow02
      - inter_arrow03
      - inter_arrow_sm01
      - inter_arrow_sm02
      - inter_arrow_sm03
      - inter_arrow_sm04
      - inter_arrow_sm05
      - inter_arrow_sm06
      - inter_arrow_sm07
  -
    animation-id: bob
    headline: Let's start with Bob
    copy: He works for a chain of burger restaurants, and he’s about to buy beef futures that will make his costs more predictable and enable him to offer consistent prices to customers. He clicks “Buy.”
    images:
      - firm
      - people01
      - people02
      - people03
      - people04
      - bob
      - store
      -
        class: monitor_wrap
        images:
          - monitor
          - buy_btn
          - cursor
  -
    animation-id: order-to-firm
    headline: Bob's order goes to a clearing firm
    copy: When Bob first started trading futures, he chose a clearing firm to work with. Think of it as the middleman between the trader and the futures exchange.
    images:
      - bob
      - store
      -
        class: monitor_wrap
        images:
          - monitor
          - buy_btn
          - cursor
      - arrow-forward
      - box
  -
    animation-id: firm-checks
    headline: The clearing firm checks up on Bob
    copy: When the firm receives Bob's order, they review his financial information and past trading activity. They make sure he's got the money he'll need, and that he's playing by all the rules.
    images:
      - bob
      - store
      - arrow-forward
      - arrow-backward
      - box
      - chart
  -
    animation-id: clearing-house
    headline: Bob's order is sent to the clearing house
    copy: If Bob is good to go, the clearing firm then submits his order to the central clearing house at the exchange. This clearing house is a major part of any exchange because all orders flow through it, and all clearing firms must meet very specific criteria to work with it.
    images:
      -
        class: static_group
        images:
          - bob
          - store
          - arrow-forward
          - box
          - chart
      -
        class: dynamic_group
        images:
          - arrow-forward arrow02
          - building
  -
    animation-id: seller
    headline: The clearing house finds Bob a seller
    copy: After ensuring that the order is legitimate and entered correctly, the clearing house finds a match for Bob’s order. In this case, it’s a cattle rancher who wants to sell futures contracts to lock in a price for his cattle.
    images:
      -
        class: static_group
        images:
          - bob
          - store
          - arrow-forward
          - box
          - chart
          - arrow-forward arrow02
          - building
      - farmer
  -
    animation-id: details
    headline: The nitty-gritty details get worked out
    copy: At this point, the clearing house is legally responsible for all the risk related to the trade. Its job is to make sure that Bob and the cattle rancher agree on the price, quantity and timing of their futures contracts. If at any point there’s a glitch, the trade is stopped.
    images:
      -
        class: static_group
        images:
          - bob
          - store
          - arrow-forward
          - box
          - chart
          - arrow-forward arrow02
          - building
      - farmer
      - checklist
      - check check01
      - check check02
      - check check03
      - check check04
      - check check05
  -
    animation-id: cleared
    headline: Bob's trade is cleared
    copy: The trade is now submitted back through Bob's clearing firm, and then Bob reviews the market data before the trade is confirmed and complete.
    images:
      -
        class: static_group
        images:
          - bob
          - store
          - arrow-forward
          - box
          - chart
          - arrow-forward arrow02
          - building
      - checklist
      - check check01
      - check check02
      - check check03
      - check check04
      - check check05
      - cleared
  -
    animation-id: watch
    headline: Less than 1 millisecond
    copy: That's how long that entire clearing process took. To understand how fast that is, consider that a single camera flash takes 100 milliseconds.
    images:
      -
        class: static_group
        images:
          - bob
          - store
          - box
          - chart
          - building
      - cleared
      -
        class: watch_fade
        images:
          - stopwatch
          -
            class: arrows
            images: 
              - arrow arrow_right arrow-1
              - arrow arrow_right arrow-2
              - arrow arrow_right arrow-3
              - arrow arrow_right arrow-4
              - arrow arrow_right arrow-1-2
              - arrow arrow_right arrow-2-2
              - arrow arrow_right arrow-3-2
              - arrow arrow_right arrow-4-2
              - arrow arrow_right arrow-1-3
              - arrow arrow_right arrow-2-3
              - arrow arrow_right arrow-3-3
              - arrow arrow_right arrow-4-3
              - arrow arrow_left arrow-5
              - arrow arrow_left arrow-6
              - arrow arrow_left arrow-7
              - arrow arrow_left arrow-5-2
              - arrow arrow_left arrow-6-2
              - arrow arrow_left arrow-7-2
              - arrow arrow_left arrow-5-3
              - arrow arrow_left arrow-6-3
              - arrow arrow_left arrow-7-3
  -
    animation-id: millions
    controls: end
    headline: It happens millions of times per day
    copy: For the millions of trades that flow through an exchange each day, this clearing function protects the integrity of every single trade, helping to maintain the security of the broader marketplace.
    images:
      -
        class: watch_fade
        images:
          - stopwatch
          -
            class: arrows
            images:
              - arrow arrow_right arrow-1-3
              - arrow arrow_right arrow-2-3
              - arrow arrow_right arrow-3-3
              - arrow arrow_right arrow-4-3
              - arrow arrow_left arrow-5-3
              - arrow arrow_left arrow-6-3
              - arrow arrow_left arrow-7-3
      - firm
      - bob
      - people01
      - people02
      - people03
      - people04
      - inter_arrow01
      - inter_arrow02
      - inter_arrow03
      - inter_arrow_sm01
      - inter_arrow_sm02
      - inter_arrow_sm03
      - inter_arrow_sm04
      - inter_arrow_sm05
      - inter_arrow_sm06
      - inter_arrow_sm07
related-links:
  links:
    -
      data: pdf.clearing
      layout: horizontal
article-pagination:
  next:
    href: /explore-the-marketplace/protecting-the-futures-markets/how-to-clear-a-trade/
    name: How to Clear a Trade
  prev:
    href: /explore-the-marketplace/protecting-the-futures-markets/
    name: Protecting the Futures Markets
---

{{#with page.hero}}
  {{> article-hero }}
{{/with}}

{{#with page}}
  {{> page-headline }}
{{/with}}

<div class="container">
  <article id="post-66" class="post-66 page type-page status-publish hentry">
    <div class="cf-content">

      {{#> column-layout--default includeGlossary=true}}
        <p><em class="glossary__term" data-term="clearing">Clearing</em> is a fundamental benefit in the futures markets. Long before a trade is cleared through a clearing house, <em class="glossary__term" data-term="clearing firm">clearing firms</em> check the financial strength of both parties to the trade, whether they’re a big institution or an individual <em class="glossary__term" data-term="trader">trader</em>. They also provide access to trading platforms, where the buyer and seller agree on the price, quantity and maturity of the <em class="glossary__term" data-term="contract">contract</em>. Then, when the contract is cleared by matching these offsetting (one buy, one sell) positions together, the clearing house guarantees that both buyer and seller get paid. This offsetting or “netting” process takes risk out of the financial system as a whole.</p>
      {{/column-layout--default}}

      {{#> column-layout--default includeGlossary=true}}
        <h3 class="article_headline">How clearing works</h3>
        <p><em class="glossary__term">Clearing houses</em> provide clearing and <em class="glossary__term" data-term="settlement">settlement</em> services for futures traded at an <em class="glossary__term" data-term="exchange">exchange</em>. They act as the neutral <em class="glossary__term" data-term="counterparty">counterparty</em> between every buyer and seller, ensuring the soundness and integrity of every trade.</p>
      {{/column-layout--default}}

      <!-- error sp -->
      <a name="clearing_made_clear"></a>
      {{#> carousel-container id='clearing_infographic' class='clearing-container infographic' data-analytics-category='Interactive Infographic View' data-analytics-action='Clearing Made Clear' data-analytics-label='Slide 1' hide-controls=true }}

        {{#each page.carousel}}
          {{> carousel-item--animation slide-num=@index total-num=(sum ../page.carousel.length -1) }}
        {{/each}}

      {{/carousel-container}}

      {{#with page.related-links}}
        {{> links-related-new }}
      {{/with}}

    </div>
  </article>

  {{> global--social-share}}

</div>

{{#with page.article-pagination}}
  {{> article-pagination}}
{{/with}}