<!-- #post-## -->
<div id="article-social" class="row">
  <div class="social-inner clearfix">
    <p>Share:</p>
    <ul class="share-buttons">
      <!-- Go to www.addthis.com/dashboard to customize your tools -->
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56b8f0ce850bc3c6" async="async"></script>
      <li class="social_icon social_icon--share social_icon--twitter"><a class="addthis_button_twitter" href="#">Twitter</a></li>
      <li class="social_icon social_icon--share social_icon--facebook"><a class="addthis_button_facebook" href="#">Facebook</a></li>
      <li class="social_icon social_icon--share social_icon--linkedin"><a class="addthis_button_linkedin" href="#">Linked In</a></li>
    </ul>
  </div>
</div>