<div class="row module__{{ ifElse module-type module-type 'body-copy' }} {{#if class}}{{class}}{{/if}}">
  <div class="col-md-2 hidden-sm hidden-xs"></div>
  <div class="col-md-8">
    {{> @partial-block}}
  </div>
  {{#if includeGlossary}}
    <div class="col-md-2 hidden-sm hidden-xs">{{> glossary-container }}</div>
  {{/if}}
</div>