<div class="row module__related-links-new">
  <div class="col-md-2 hidden-sm"></div>
  <div class="col-md-8">
    <h2 class="module__related-links-new__headline article_headline">Additional Resource{{#if (gt (sum links.length econ-links.length) 1)}}s{{/if}}</h2>
    <hr class="module__related-links-new__hr" />
    {{#if links}}
      <div class="row card-grid">
        {{#each links}}
          {{#with (lookup @root.site.resourceCards data) }}
            {{> resource-card color='blue' layout=../layout }}
          {{/with}}
        {{/each}}
      </div>
    {{/if}}
    {{#if econ-links}}
      <div class="row econ-essentials-links">
        <div class="col col-xs-12">
          <p class="body-tertiary module__related-links-new__econ-copy">The following resource{{ifElse (gt econ-links.length 1) 's are' ' is' }} from Econ Essentials, created in partnership with Discovery 
          Education.</p>
          <div class="row card-grid">
            {{#each econ-links}}
              {{#with (lookup @root.site.resourceCards data) }}
                {{> resource-card layout=../layout}}
              {{/with}}
            {{/each}}
          </div>
        </div>
      </div>
    {{/if}}
  </div>
  <div class="col-md-2 hidden-sm"></div>
</div>