<div class="container module__hero__text-container">
  <div class="row">
    <div class="col-md-2 hidden-sm"></div>
    <div class="col-md-8">
      <h1 class="{{#unless eyebrow}}page_title_doesnt_have_eyebrow{{/unless}}">{{headline}}</h1>
    </div>
  </div>
</div>