<ul class="share-buttons">
  <li class="social_icon social_icon--twitter"><a href="https://twitter.com/Futures101" target="_blank">&nbsp;</a></li>
  <li class="social_icon social_icon--facebook"><a href="https://www.facebook.com/FuturesFundamentals/" target="_blank">&nbsp;</a></li>
  <li class="social_icon social_icon--linkedin"><a href="https://www.linkedin.com/company/futures-fundamentals/" target="_blank">&nbsp;</a></li>
  <li class="social_icon social_icon--instagram"><a href="https://www.instagram.com/futuresfundamentals/" target="_blank">&nbsp;</a></li>
</ul>