---
url: see-the-impact/agriculture-futures/food-prices-explained/index.html
title: Food Price Explained - Futures Fundamentals
body:
  class: singular page page-id-151 page-child parent-pageid-6 page-template-default page--food-prices-explained
mainDivClass: article
eyebrow: Agriculture Futures
headline: Food Prices Explained
card-carousel:
  cards:
    -
      headline: Geopolitical Conflicts
      img-id: events
      copy:
        - Political unrest can disrupt productivity, impacting supply and commodity pricing.
    -
      headline: Global Supply
      img-id: global
      copy:
        - As more countries emerge as large producers of crops, global supply has an impact on food prices. Regardless of domestic supply, diminished soybean production in Brazil or increased wheat harvests in the Black Sea will drive global food prices. 
    -
      headline: International Trade Relationships
      img-id: gov
      copy:
        - Government policies, such as tariffs to support domestic production, can reduce competition, limit supplies available for international trade and impact prices.
    -
      headline: Disease
      img-id: disease
      copy:
        - Diseases and infestations can cause shortages in grains, which reduce food supply for livestock. Diseases can also negatively impact livestock, resulting in lower demand for feed grain.
    -
      headline: Currency Fluctuations
      img-id: currencies
      copy:
        - The strength of the U.S. dollar, relative to other currencies, has an impact on all commodity prices. Raw materials are almost always priced in U.S. dollars, so a producer often needs to adjust prices based on production costs in local currency.
    -
      headline: Transportation
      img-id: energy
      copy:
        - High oil prices can drive up the costs of bringing food to market and these costs are passed along to consumers.
        - Transportation shortages can also raise food prices.
    -
      headline: Planted & Harvested Acreage
      img-id: farm
      copy:
        - Farmland is being lost at an alarming rate due to development and other factors. Additionally, farmers need to allocate their limited acres to a variety of crops, meaning pricing relationships between grains will change over time.
    -
      headline: Weather
      img-id: weather
      copy:
        - Drought, flooding and freezing reduce supply, which can negatively impact the production of key grains like corn and soybeans and cause dramatic price increases in essential crops.
related-links:
  links:
    -
      data: pdf.prices-food
      layout: horizontal
    -
      data: pdf.prices-pork
      layout: horizontal
    -
      data: pdf.prices-beef
      layout: horizontal
  econ-links:
    -
      data: learning.food-facts
      layout: vertical
    -
      data: lesson.choice
      layout: vertical
article-pagination:
  next:
    href: /see-the-impact/energy-futures/
    name: Energy Futures
  prev:
    href: /see-the-impact/agriculture-futures/
    name: Agriculture Futures
---

<div class="article_hero" style=" ">
  <img class="hero__image--desktop hidden-xs hidden-sm hidden-md" src="/assets/img/hero/food_prices_explained__desktop_fg.png" />
  <img class="hero__image--tablet hidden-xs visible-sm visible-md hidden-lg hidden-xl" src="/assets/img/hero/food_prices_explained__tablet_fg.png" />
  <img class="hero__image--mobile visible-xs hidden-md hidden-lg " src="/assets/img/hero/food_prices_explained__mobile_fg.png" />
</div>

{{#with page}}
  {{> page-headline }}
{{/with}}

<div class="container">
  <article id="post-120" class="post-120 page type-page status-publish hentry">
    <div class="cf-content">
      {{#> column-layout--default includeGlossary=true }}
        <p>Long after all the <em class="glossary__term" data-term="hedge">hedging</em> and <em class="glossary__term" data-term="speculator">speculating</em>, and after the physical <em class="glossary__term" data-term="delivery">delivery</em> of the goods under <em class="glossary__term" data-term="contract">contract</em>, these food products make their way to your supermarket. Because our hedgers were able to set predictable prices for their products, you get relative consistency in the prices you pay for groceries from week to week. But sometimes, these prices fluctuate.</p>
      {{/column-layout--default}}
        
      <a name="riskontheranch"></a>
      {{> brightcove-video id='riskontheranch' vid-id='ref:150616vsa_riskontheranch' }}

      {{#> column-layout--default includeGlossary=true }}
        <h3 class="article_headline">The Facts Behind Food Prices</h3>
        <p>The prices of agricultural futures depend on a number of external factors – and these prices ultimately impact what you pay for your food.</p>
        <p>You’ll probably never have to think about any of this when you’re at the store. That’s because hedgers already have. By using futures to protect their <em class="glossary__term" data-term="commodity">commodities</em> from this world of price variables, they can cut their prices – and yours.</p>
      {{/column-layout--default}}

      {{#> column-layout--default}}
        <h3 class="article_headline">Explore the Factors Below</h3>
      {{/column-layout--default}}

      {{#with page.card-carousel}}
        <div id="food-prices__mod" class="row">
          <div class="col-md-2 hidden-sm"></div>
          <div class="col-md-8">
            {{> food-prices--card-carousel-nav }}

            {{#> carousel-container id='food-price-carousel' class='fp-carousel-container infographic' no-analytics=true controls-href='#food-price-carousel' }}
              <div class="carousel-close"></div>
              {{#each cards}}
                {{> food-prices--carousel-item total-items=../cards.length}}
              {{/each}}
            {{/carousel-container}}
          </div>
        </div>
      {{/with}}

      {{#> column-layout--default}}  
        <p>You know the factors. Now let's see how they work together to move prices up or down.</p>
      {{/column-layout--default}}

      <a name="food-prices-move"></a>
      {{> food-prices--move-animation }}

      {{#with page.related-links}}
        {{> links-related-new }}
      {{/with}}

    </div>
  </article>

  {{> global--social-share }}
</div>
<!-- /.container -->

{{#with page.article-pagination}}
  {{> article-pagination}}
{{/with}}