---
url: explore-the-marketplace/protecting-the-futures-markets/how-to-clear-a-trade/index.html
title: How to Clear a Trade - Futures Fundamentals
body:
  class: singular page page-id-67 page-child parent-pageid-65 page-template-default page--how-to-clear-trade
mainDivClass: article
hero:
  image:
    id: how_clr_trade
eyebrow: Protecting the Futures Markets
headline: How to Clear a Trade
related-links:
  links:
    -
      data: pdf.electronic-trade
      layout: horizontal
article-pagination:
  next:
    href: /explore-the-marketplace/the-regulatory-measures/
    name: The Regulatory Measures
  prev:
    href: /explore-the-marketplace/the-role-of-clearing-houses/
    name: The Clearing House
---

{{#with page.hero}}
  {{> article-hero}}
{{/with}}

{{#with page}}
  {{> page-headline}}
{{/with}}

<div class="container">
  <article id="post-67" class="post-67 page type-page status-publish hentry">
    <div class="cf-content">

      {{#> column-layout--default includeGlossary=true }}
        <p><em class="glossary__term">Clearing</em> involves a number of protections that take place instantaneously from the time an order is placed to the time it is settled. And by enabling <em class="glossary__term" data-term="trader">traders</em> to submit their orders through a central clearing function, the process enables the market to run more smoothly and efficiently.</p>
      {{/column-layout--default}}

      {{#> column-layout--default includeGlossary=true}}
        <h3 class="article_headline">The market protections of an electronic trade</h3>
        <p>Futures exchanges process millions of trades each day. With so many orders coming at once, you need a lot of checkpoints to make sure everything goes smoothly.</p>
        <p>Here’s a look at a few of the <em class="glossary__term" data-term="risk">risk</em> protections that every order must pass in order to make it through an <em class="glossary__term" data-term="electronic trading">electronic trading</em> engine. These protections help maintain the integrity of the overall futures market.</p>
      {{/column-layout--default}}

      <!-- error sp -->
      <div id="trade-journey" class="row full-width">
        <div class="col-md-2 hidden-sm"></div>
        <div class="col-md-8">
          <div class="trade-journey-inner scrollAnimation--capable scrollAnimation--before" data-scrollAnimation-pixels="120">
            <h4>The Journey</h4>
            <div class="row">
              <div class="trade-icon icon-order-placed">
                Order Placed
                <div class="trade-arrow"></div>
              </div>
              <div class="trade-icon icon-credit-controls">
                Credit Controls
                <div class="trade-arrow"></div>
                <div class="trade-arrow trade-gray-arrow-01"></div>
              </div>
              <div class="trade-icon icon-max-order-quantity">
                Maximum Order Quantity
                <div class="trade-arrow"></div>
                <div class="trade-arrow trade-gray-arrow-02"></div>
                <div class="trade-rejected"></div>
              </div>
              <div class="trade-icon icon-price-banding">
                Price Banding
                <div class="trade-arrow"></div>
                <div class="trade-arrow trade-gray-arrow-03"></div>
              </div>
              <div class="trade-icon icon-central-limit">
                Central Limit Order book
                <div class="trade-arrow"></div>
              </div>
            </div>
            <div class="row">
              <div class="journey-section">
                <div class="trade-icon icon-single-market">
                  Single Market Data Feed
                  <div class="trade-arrow"></div>
                </div>
                <div class="trade-icon icon-protection-points">
                  Markey &amp; Stop Order Protection Points
                  <div class="trade-arrow"></div>
                </div>
                <div class="trade-icon icon-stop-price">
                  Stop Price Logic
                  <div class="trade-arrow"></div>
                  <div class="trade-arrow trade-gray-arrow-04"></div>
                  <div class="market-pause"></div>
                  <div class="trade-rejected"></div>
                </div>
                <div class="trade-icon icon-velocity-logic">
                  Velocity Logic
                  <div class="trade-arrow"></div>
                  <div class="trade-arrow trade-gray-arrow-05"></div>
                  <div class="trade-arrow trade-gray-arrow-06"></div>
                </div>
              </div>
              <div class="trade-icon icon-trade-complete">Trade is Complete</div>
            </div>
          </div>
        </div>
        <div class="col-md-2 hidden-sm"></div>
      </div>

      {{#> column-layout--default}}
      {{/column-layout--default}}

      <!-- error sp -->
      <a name="protect_market_infographic"></a>
      <div class="row">
        <div class="carousel-container infographic">
          <div id="protect_market_infographic" class="carousel slide carousel-fade scrollAnalyticsItem" data-ride="carousel" data-interval="false" data-analytics-category="Interactive Infographic View" data-analytics-action="Protecting the Market" data-analytics-label="Slide 1">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <!-- Slide 01 -->
              <div class="item title-slide active">
                <div class="col-md-12">
                  <div class="carousel-image anim_container">
                    <div class="trade-title_animation anim_inner">
                      <div class="arrows">
                        <div class="arrow arrow-mid arrow-1 arrow-stop"></div>
                        <div class="arrow arrow-drk arrow-2"></div>
                        <div class="arrow arrow-mid arrow-3"></div>
                        <div class="arrow arrow-lt arrow-4"></div>
                        <div class="arrow arrow-lt arrow-5 arrow-stop"></div>
                        <div class="arrow arrow-drk arrow-6"></div>
                        <div class="trade-rejected stop-1"></div>
                        <div class="trade-rejected stop-2"></div>
                        <div class="market-pause stop-3"></div>
                        <div class="arrow arrow-lt arrow-1 arrow-delay"></div>
                        <div class="arrow arrow-mid arrow-2 arrow-delay"></div>
                        <div class="arrow arrow-drk arrow-3 arrow-delay arrow-stop"></div>
                        <div class="arrow arrow-mid arrow-4 arrow-delay"></div>
                        <div class="arrow arrow-drk arrow-5 arrow-delay"></div>
                        <div class="arrow arrow-lt arrow-6 arrow-delay"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="carousel-text carousel-title">
                    <h4>Protecting the market</h4>
                    <p>Let’s take a look at just a few of the protections a single electronic trade must pass.</p>
                  </div>
                  <!-- Left and right controls -->
                  <div class="carousel-controls-container">
                    <a class="right begin carousel-control" href="#protect_market_infographic" role="button" data-slide="next">
              <span>Follow a trade</span>
              </a>
                  </div>
                </div>
              </div>
              <!-- Slide 02 -->
              <div class="item">
                <div class="col-md-8">
                  <div class="slide-num slide-num-mobile">
                    <span class="current">1</span> of 10
                  </div>
                  <div class="carousel-image anim_container">
                    <div class="trade-animation anim_inner">
                      <div class="circle-icon credit-controls"></div>
                      <div class="arrows credit-controls-arrows">
                        <div class="arrow arrow-mid arrow-1"></div>
                        <div class="arrow arrow-lt arrow-stop"></div>
                        <div class="arrow arrow-drk arrow-3"></div>
                        <div class="trade-rejected"></div>
                        <div class="arrow arrow-mid arrow-4"></div>
                        <div class="arrow arrow-lt arrow-5"></div>
                        <div class="arrow arrow-drk arrow-6"></div>
                      </div>
                      <div class="icon-shadow"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="carousel-text">
                    <div class="slide-num">
                      <span class="current">1</span> of 10
                    </div>
                    <h4>Credit Controls</h4>
                    <p>Clearing firms set credit limits based on order size or risk values. If specified limits are breached, the order is rejected.</p>
                    <div class="status-box">
                      <span>Our Status</span> One contract of crude oil is $4,950. Thus, 10 contracts come out to $49,500. Our margin level must readily clear this amount before going to the next step.
                    </div>
                  </div>
                  <div class="carousel-controls-container">
                    <a class="left carousel-control" href="#protect_market_infographic" role="button" data-slide="prev">
              <span class="sr-only">Previous</span>
              </a>
                    <a class="right carousel-control" href="#protect_market_infographic" role="button" data-slide="next">
              <span class="sr-only">Next</span>
              </a>
                  </div>
                </div>
              </div>
              <!-- Slide 03 -->
              <div class="item">
                <div class="col-md-8">
                  <div class="slide-num slide-num-mobile">
                    <span class="current">2</span> of 10
                  </div>
                  <div class="carousel-image anim_container">
                    <div class="trade-animation anim_inner">
                      <div class="circle-icon max-order"></div>
                      <div class="arrows max-order-arrows">
                        <div class="arrow arrow-mid arrow-1"></div>
                        <div class="arrow arrow-lt arrow-2"></div>
                        <div class="arrow arrow-drk arrow-stop arrow-3"></div>
                        <div class="trade-rejected"></div>
                        <div class="arrow arrow-mid arrow-4"></div>
                        <div class="arrow arrow-lt arrow-5"></div>
                        <div class="arrow arrow-drk arrow-6"></div>
                      </div>
                      <div class="icon-shadow"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="carousel-text">
                    <div class="slide-num">
                      <span class="current">2</span> of 10
                    </div>
                    <h4>Maximum order quantity</h4>
                    <p>Every product has a pre-defined maximum quantity per order. This step ensures that the order is not exceeding this limit before it continues. If the max quantity is exceeded, the order is rejected.</p>
                    <div class="status-box">
                      <span>Our Status</span> Let’s say the max quantity for crude oil contracts is 999. If we accidentally entered 1,000 instead of 100, then our order would be rejected.
                    </div>
                  </div>
                  <div class="carousel-controls-container">
                    <a class="left carousel-control" href="#protect_market_infographic" role="button" data-slide="prev">
              <span class="sr-only">Previous</span>
              </a>
                    <a class="right carousel-control" href="#protect_market_infographic" role="button" data-slide="next">
              <span class="sr-only">Next</span>
              </a>
                  </div>
                </div>
              </div>
              <!-- Slide 04 -->
              <div class="item">
                <div class="col-md-8">
                  <div class="slide-num slide-num-mobile">
                    <span class="current">3</span> of 10
                  </div>
                  <div class="carousel-image anim_container">
                    <div class="trade-animation anim_inner">
                      <div class="circle-icon price-banding"></div>
                      <div class="arrows price-banding-arrows">
                        <div class="arrow arrow-mid arrow-1"></div>
                        <div class="arrow arrow-lt arrow-2"></div>
                        <div class="arrow arrow-drk arrow-3"></div>
                        <div class="trade-rejected"></div>
                        <div class="arrow arrow-mid arrow-stop arrow-4"></div>
                        <div class="arrow arrow-lt arrow-5"></div>
                        <div class="arrow arrow-drk arrow-6"></div>
                      </div>
                      <div class="icon-shadow"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="carousel-text">
                    <div class="slide-num">
                      <span class="current">3</span> of 10
                    </div>
                    <h4>Price banding</h4>
                    <p>All orders on an electronic trading platform are subject to price verification. Bids at prices well above or well below the market fall outside of that contract’s “band” and are rejected.</p>
                    <div class="status-box">
                      <span>Our Status</span> The crude oil market is trading at $90.00 per contract, with a price band of $0.75. If we set a limit of $91.80, our trade would be automatically rejected because it’s $1.05 over the price band.
                    </div>
                  </div>
                  <div class="carousel-controls-container">
                    <a class="left carousel-control" href="#protect_market_infographic" role="button" data-slide="prev">
              <span class="sr-only">Previous</span>
              </a>
                    <a class="right carousel-control" href="#protect_market_infographic" role="button" data-slide="next">
              <span class="sr-only">Next</span>
              </a>
                  </div>
                </div>
              </div>
              <!-- Slide 05 -->
              <div class="item">
                <div class="col-md-8">
                  <div class="slide-num slide-num-mobile">
                    <span class="current">4</span> of 10
                  </div>
                  <div class="carousel-image anim_container">
                    <div class="trade-animation anim_inner">
                      <div class="circle-icon central-limit"></div>
                      <div class="arrows central-limit-arrows">
                        <div class="arrow arrow-mid arrow-1"></div>
                        <div class="arrow arrow-lt arrow-2"></div>
                        <div class="arrow arrow-drk arrow-3"></div>
                        <div class="arrow arrow-mid arrow-4"></div>
                        <div class="arrow arrow-lt arrow-5"></div>
                        <div class="arrow arrow-drk arrow-6"></div>
                      </div>
                      <div class="icon-shadow"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="carousel-text">
                    <div class="slide-num">
                      <span class="current">4</span> of 10
                    </div>
                    <h4>Central limit order book</h4>
                    <p>The exchange operates a unified central limit order book because all orders from the member firms are routed to and executed on the exchange’s own trading platform. This single, integrated market allows for concentrated liquidity in one transparent location. An order is accepted once it meets the previous protection standards.</p>
                    <div class="status-box">
                      <span>Our Status</span> We’ve met the margin requirements, had our quantity approved, and fallen within the price band. Our 100-lot order of crude oil is sent to a single market location.
                    </div>
                  </div>
                  <div class="carousel-controls-container">
                    <a class="left carousel-control" href="#protect_market_infographic" role="button" data-slide="prev">
              <span class="sr-only">Previous</span>
              </a>
                    <a class="right carousel-control" href="#protect_market_infographic" role="button" data-slide="next">
              <span class="sr-only">Next</span>
              </a>
                  </div>
                </div>
              </div>
              <!-- Slide 06 -->
              <div class="item blue-in">
                <div class="col-md-8">
                  <div class="slide-num slide-num-mobile">
                    <span class="current">5</span> of 10
                  </div>
                  <div class="carousel-image anim_container">
                    <div class="trade-animation anim_inner">
                      <div class="simul-protections"></div>
                      <div class="arrows simul-protections-arrows">
                        <div class="arrow arrow-mid arrow-1"></div>
                        <div class="arrow arrow-lt arrow-2"></div>
                        <div class="arrow arrow-drk arrow-3"></div>
                        <div class="arrow arrow-mid arrow-4"></div>
                        <div class="arrow arrow-lt arrow-5"></div>
                        <div class="arrow arrow-drk arrow-6"></div>
                      </div>
                      <div class="icon-shadow"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="carousel-text">
                    <div class="slide-num">
                      <span class="current">5</span> of 10
                    </div>
                    <h4>Simultaneous protections</h4>
                    <p>The entire clearing process for our trade will take about 1 millisecond. (To understand just how fast that is, consider that one blink of a human eye takes about 300 milliseconds.) So it’s no wonder that, at this point, everything starts happening at the same time.</p>
                  </div>
                  <div class="carousel-controls-container">
                    <a class="left carousel-control" href="#protect_market_infographic" role="button" data-slide="prev">
              <span class="sr-only">Previous</span>
              </a>
                    <a class="right carousel-control" href="#protect_market_infographic" role="button" data-slide="next">
              <span class="sr-only">Next</span>
              </a>
                  </div>
                </div>
              </div>
              <!-- Slide 07 -->
              <div class="item blue">
                <div class="col-md-8">
                  <div class="slide-num slide-num-mobile">
                    <span class="current">6</span> of 10
                  </div>
                  <div class="carousel-image anim_container">
                    <div class="trade-animation anim_inner">
                      <div class="circle-icon single-market"></div>
                      <div class="arrows single-market-arrows">
                        <div class="arrow arrow-mid arrow-1"></div>
                        <div class="arrow arrow-lt arrow-2"></div>
                        <div class="arrow arrow-drk arrow-3"></div>
                        <div class="arrow arrow-mid arrow-4"></div>
                        <div class="arrow arrow-lt arrow-5"></div>
                        <div class="arrow arrow-drk arrow-6"></div>
                      </div>
                      <div class="icon-shadow"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="carousel-text">
                    <div class="slide-num">
                      <span class="current">6</span> of 10
                    </div>
                    <h4>Single market data feed</h4>
                    <p>Once an order is received, it's sent to the central limit order book where it’s made available to be bought or sold. From the order book, all market participants receive the market data they need to make trading decisions.</p>
                    <div class="status-box">
                      <span>Our Status</span> Our 100-lot order is reflected in a bid/ask spread that goes out to all traders at the same time.
                    </div>
                  </div>
                  <div class="carousel-controls-container">
                    <a class="left carousel-control" href="#protect_market_infographic" role="button" data-slide="prev">
              <span class="sr-only">Previous</span>
              </a>
                    <a class="right carousel-control" href="#protect_market_infographic" role="button" data-slide="next">
              <span class="sr-only">Next</span>
              </a>
                  </div>
                </div>
              </div>
              <!-- Slide 08 -->
              <div class="item blue">
                <div class="col-md-8">
                  <div class="slide-num slide-num-mobile">
                    <span class="current">7</span> of 10
                  </div>
                  <div class="carousel-image anim_container">
                    <div class="trade-animation anim_inner">
                      <div class="circle-icon protection-points"></div>
                      <div class="arrows protection-points-arrows">
                        <div class="arrow arrow-mid arrow-1"></div>
                        <div class="arrow arrow-lt arrow-2"></div>
                        <div class="arrow arrow-drk arrow-3"></div>
                        <div class="arrow arrow-mid arrow-4"></div>
                        <div class="arrow arrow-lt arrow-5"></div>
                        <div class="arrow arrow-drk arrow-6"></div>
                      </div>
                      <div class="icon-shadow"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="carousel-text">
                    <div class="slide-num">
                      <span class="current">7</span> of 10
                    </div>
                    <h4>Market &amp; stop order protection points</h4>
                    <p>Every market or stop order is assigned a price limit. Customers have two options when placing these orders: assign a price limit within price bands or let a matching engine assign one.</p>
                    <div class="status-box">
                      <span>Our Status</span> Protection points for our 100-lot of crude oil are $0.50, and the market is trading at $90.00. A customer enters a market order to buy 100 contracts without assigning a limit price, so the trading engine assigns a limit of $90.50. That customer’s 100-lot order enters the central limit order book as a $90.50 bid.
                    </div>
                  </div>
                  <div class="carousel-controls-container">
                    <a class="left carousel-control" href="#protect_market_infographic" role="button" data-slide="prev">
              <span class="sr-only">Previous</span>
              </a>
                    <a class="right carousel-control" href="#protect_market_infographic" role="button" data-slide="next">
              <span class="sr-only">Next</span>
              </a>
                  </div>
                </div>
              </div>
              <!-- Slide 09 -->
              <div class="item blue">
                <div class="col-md-8">
                  <div class="slide-num slide-num-mobile">
                    <span class="current">8</span> of 10
                  </div>
                  <div class="carousel-image anim_container">
                    <div class="trade-animation anim_inner">
                      <div class="circle-icon stop-prices"></div>
                      <div class="arrows stop-prices-arrows">
                        <div class="arrow arrow-mid arrow-stop arrow-1"></div>
                        <div class="arrow arrow-lt arrow-2"></div>
                        <div class="arrow arrow-drk arrow-3"></div>
                        <div class="market-pause"></div>
                        <div class="arrow arrow-mid arrow-4"></div>
                        <div class="arrow arrow-lt arrow-5"></div>
                        <div class="arrow arrow-drk arrow-6"></div>
                      </div>
                      <div class="icon-shadow"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="carousel-text">
                    <div class="slide-num">
                      <span class="current">8</span> of 10
                    </div>
                    <h4>Stop price logic</h4>
                    <p>Order matching is paused when cascading stop orders cause the market to move beyond a pre-determined range. This step restores balance to the market.</p>
                    <div class="status-box">
                      <span>Our Status</span> If our 100-lot order is placed as a stop order, followed by a domino effect of simultaneous stop orders that push the market beyond a $1.00 move, stop logic will pause the market for 5 seconds to allow liquidity back in, protect against artificial price swings, and get the market up and running again.
                    </div>
                  </div>
                  <div class="carousel-controls-container">
                    <a class="left carousel-control" href="#protect_market_infographic" role="button" data-slide="prev">
              <span class="sr-only">Previous</span>
              </a>
                    <a class="right carousel-control" href="#protect_market_infographic" role="button" data-slide="next">
              <span class="sr-only">Next</span>
              </a>
                  </div>
                </div>
              </div>
              <!-- Slide 10 -->
              <div class="item blue">
                <div class="col-md-8">
                  <div class="slide-num slide-num-mobile">
                    <span class="current">9</span> of 10
                  </div>
                  <div class="carousel-image anim_container">
                    <div class="trade-animation anim_inner">
                      <div class="circle-icon velocity-logic"></div>
                      <div class="arrows velocity-logic-arrows">
                        <div class="arrow arrow-mid arrow-1"></div>
                        <div class="arrow arrow-lt arrow-2"></div>
                        <div class="arrow arrow-drk arrow-stop arrow-3"></div>
                        <div class="market-pause"></div>
                        <div class="trade-rejected"></div>
                        <div class="arrow arrow-mid arrow-4"></div>
                        <div class="arrow arrow-lt arrow-stop arrow-5"></div>
                        <div class="arrow arrow-drk arrow-6"></div>
                      </div>
                      <div class="icon-shadow"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="carousel-text">
                    <div class="slide-num">
                      <span class="current">9</span> of 10
                    </div>
                    <h4>Velocity logic</h4>
                    <p>Regardless of order type, order matching is paused when prices move excessively and too quickly. Like stop price logic, this step keeps the market balanced.</p>
                    <div class="status-box">
                      <span>Our Status</span> If the crude oil market moves beyond $2.00 within one second, velocity logic will pause the market for 5 seconds to allow liquidity back in, protect against artificial price swings, and get the market up and running again.
                    </div>
                  </div>
                  <div class="carousel-controls-container">
                    <a class="left carousel-control" href="#protect_market_infographic" role="button" data-slide="prev">
              <span class="sr-only">Previous</span>
              </a>
                    <a class="right carousel-control" href="#protect_market_infographic" role="button" data-slide="next">
              <span class="sr-only">Next</span>
              </a>
                  </div>
                </div>
              </div>
              <!-- Slide 11 -->
              <div class="item blue-out">
                <div class="col-md-8">
                  <div class="slide-num slide-num-mobile">
                    <span class="current">10</span> of 10
                  </div>
                  <div class="carousel-image anim_container">
                    <div class="trade-animation anim_inner">
                      <div class="monitor"></div>
                      <div class="confetti"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="carousel-text">
                    <div class="slide-num">
                      <span class="current">10</span> of 10
                    </div>
                    <h4>Trade complete!</h4>
                    <p>The trade makes its way through the matching engine, and our trade is completed. The contracts are now ours. If we decide to sell them back into the market, we know it will be secure and balanced thanks to all the protections we just explored.</p>
                  </div>
                  <div class="carousel-controls-container">
                    <a class="left carousel-control" href="#protect_market_infographic" role="button" data-slide="prev">
              <span class="sr-only">Previous</span>
              </a>
                    <a class="right restart carousel-control" href="#protect_market_infographic" role="button" data-slide="next">
              <span class="sr-only">Start over</span>
              </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {{#with page.related-links}}
        {{> links-related-new }}
      {{/with}}

    </div>
  </article>

  {{> global--social-share }}
</div>

{{#with page.article-pagination}}
  {{> article-pagination }}
{{/with}}
