---
url: explore-the-marketplace/protecting-the-futures-markets/index.html
title: Protecting the Futures Markets - Futures Fundamentals
body:
  class: singular page page-id-65 page-parent page-child parent-pageid-42 page-template-default page--protecting-futures-markets
mainDivClass: article 
hero:
  image:
    id: protections
eyebrow: Explore the Marketplace
headline: Protecting the Futures Markets
article-pagination:
  next:
    href: /explore-the-marketplace/the-role-of-clearing-houses/
    name: The Clearing House
  prev:
    href: /explore-the-marketplace/the-role-of-technology-in-futures-markets/a-simple-guide-to-algorithms/
    name: A Simple Guide to Algorithms
---

{{#with page.hero}}
  {{> article-hero}}
{{/with}}

{{#with page}}
  {{> page-headline }}
{{/with}}

<div class="container">
  <article id="post-65" class="post-65 page type-page status-publish hentry">
    <div class="cf-content">

      {{#> column-layout--default includeGlossary=true }}
        <p>A <em class="glossary__term">futures exchange</em> is a highly complex organization that directly impacts the world’s markets and helps foster global commerce. As you might expect, its activities are watched very closely. Extensive processes, monitoring, standardization, rules and regulations work in concert to protect everyone both inside and outside the exchange. These measures ensure that these futures exchanges that exist to create stable markets continue to do just that.</p>
        <p>This section explores the two key mechanisms that keep futures markets under watch and running smoothly for everyone.</p>
      {{/column-layout--default}}
      
      {{#> column-layout--default includeGlossary=true }}
        <h3 class="article_headline">Clearing houses: protecting trading partners</h3>
        <p><em class="glossary__term">Clearing houses</em> act as a neutral <em class="glossary__term" data-term="counterparty">counterparty</em> for every single trade that crosses a futures exchange, assuming responsibility for ensuring buyer and seller performance on each contract.</p>
      {{/column-layout--default}}
      
      {{#> column-layout--default}}
        <h3 class="article_headline">Market regulation: protecting market integrity</h3>
        <p>Futures exchanges are closely monitored and regulated by governmental agencies, as well as by regulatory group functions within each exchange.</p>
      {{/column-layout--default}}
    </div>
  </article>
  
  {{> global--social-share}}

</div>

{{#with page.article-pagination}}
  {{> article-pagination}}
{{/with}}
