---
url: see-the-impact/energy-futures/north-american-oil-production/index.html
title: "North American Oil Production: The Rapid Move to Energy Self-Sufficiency  - Futures Fundamentals"
body:
  class: singular page page-id-32 page-child parent-pageid-30 page-template-default page--north-american-oil-production
mainDivClass: article
hero:
  img:
    id: todays_oil_boom
eyebrow: See the Impact
headline: 'North American Oil Production: The Rapid Move to Energy <span class="no-break">Self-Sufficiency</span>'
related-links:
  -
    headline: Want to learn more?
    copy: See if you can predict future gas prices using our interactive, educational resource developed in partnership with Discovery Education.
    icon-class: call-discovery-icon
    link:
      href: http://www.econessentialsinschool.com/sites/econessentialsinschool.com/themes/econ_ui/assets/modules/fuel/
      text: CHECK OUT THE "FUELING THE FUTURE" MODULE
article-pagination:
  next:
    href: /see-the-impact/financial-futures/
    name: Financial Futures
  prev:
    href: /see-the-impact/energy-futures/gas-prices-explained/
    name: Gas Prices Explained
---

{{#with hero}}
  {{> article-hero }}
{{/with}}

{{#with page}}
  {{> page-headline}}
{{/with}}

<div class="container">
  <article id="post-32" class="post-32 page type-page status-publish hentry">
    <div class="cf-content">

      {{#> column-layout--default }}
        <p>North America has long relied on foreign oil markets to meet its energy needs. But due to recent advances in extraction, domestic production of crude oil is at an all-time high. In fact, it’s estimated that North America will achieve energy self-sufficiency by 2020 – a milestone that will have a huge impact, not just on the global oil markets, but also on the United States’ economy and infrastructure.</p>
      {{/column-layout--default}}
      
      {{#> module-image}}
        <img alt="Did you know: In 2014, the U.S. became the third-largest oil-producing country in the world. Only Russia and Saudi Arabia produced more." src="/assets/img/infographics/leading_oil_producers__desktop.png" class="hidden-xs" />
        <img alt="Did you know: In 2014, the U.S. became the third-largest oil-producing country in the world. Only Russia and Saudi Arabia produced more." src="/assets/img/infographics/leading_oil_producers__mobile.png" class="hidden-sm  hidden-md hidden-lg" />
      {{/module-image}}

      {{> links-related links=page.related-links}}

    </div>
  </article>

  {{> global--social-share }}
</div>

{{#with page.article-pagination}}
  {{> article-pagination}}
{{/with}}
