---
url: see-the-impact/energy-futures/north-american-oil-production/index.html
title: "North American Oil Production: The Rapid Move to Energy Self-Sufficiency  - Futures Fundamentals"
body:
  class: singular page page-id-32 page-child parent-pageid-30 page-template-default page--north-american-oil-production
mainDivClass: article
hero:
  image:
    id: todays_oil_boom
eyebrow: Energy Futures
headline: 'North American Oil Production: The Rapid Move to Energy <span class="no-break">Self-Sufficiency</span>'
related-links:
  econ-links:
    -
      data: learning.fueling-future
      layout: horizontal
article-pagination:
  next:
    href: /see-the-impact/financial-futures/
    name: Financial Futures
  prev:
    href: /see-the-impact/energy-futures/gas-prices-explained/
    name: Gas Prices Explained
---

{{#with page.hero}}
  {{> article-hero }}
{{/with}}

{{#with page}}
  {{> page-headline}}
{{/with}}

<div class="container">
  <article id="post-32" class="post-32 page type-page status-publish hentry">
    <div class="cf-content">

      {{#> column-layout--default }}
        <p>The last 10 years in the global crude oil markets have been transformative, with the U.S. continuing to mature and increase in global significance. Due to advances in extraction, domestic production of crude oil is at an all-time high. In fact, U.S. oil production was 2.5 times as high in 2019 as it was in 2008, when it reached its lowest level since 1946.</p>
      {{/column-layout--default}}
      
      {{#> module-image}}
        <img alt="Did you know: In 2014, the U.S. became the third-largest oil-producing country in the world. Only Russia and Saudi Arabia produced more." src="/assets/img/infographics/leading_oil_producers_desktop_2020.png" class="hidden-xs" />
        <img alt="Did you know: In 2014, the U.S. became the third-largest oil-producing country in the world. Only Russia and Saudi Arabia produced more." src="/assets/img/infographics/leading_oil_producers_mobile_2020.png" class="hidden-sm  hidden-md hidden-lg" />
      {{/module-image}}

      {{#with page.related-links}}
        {{> links-related-new}}
      {{/with}}

    </div>
  </article>

  {{> global--social-share }}
</div>

{{#with page.article-pagination}}
  {{> article-pagination}}
{{/with}}
