---
url: see-the-impact/financial-futures/interest-rates-explained/index.html
title: "Interest Rates Explained - Futures Fundamentals"
body:
  class: singular page page-id-33 page-child parent-pageid-34 page-template-default page--interest-rates-explained
mainDivClass: article
hero:
  image:
    id: interest_rates
eyebrow: Financial Futures
headline: Interest Rates Explained
related-links:
  econ-links:
    -
      data: learning.foundations-finance
      layout: horizontal
article-pagination:
  next:
    section: Explore the Marketplace
    href: /explore-the-marketplace/the-wide-world-of-futures-traders/
    name: The Wide World of Futures Traders
  prev:
    href: /see-the-impact/financial-futures/
    name: Financial Futures
---

{{#with page.hero}}
  {{> article-hero}}
{{/with}}

{{#with page}}
  {{> page-headline}}
{{/with}}

<div class="container">
  <article id="post-33" class="post-33 page type-page status-publish hentry">
    <div class="cf-content">

      {{#> column-layout--default}}
        <p>When you take out a mortgage, apply for college loans, or finance a new car, your lender determines the rate of interest you’ll be charged for a portion of, or for the duration of your loan. This rate is heavily influenced by the overall economy’s interest rates. Interest rate futures enable banks to manage the risk of fluctuating interest rates — so they can loan money to businesses in your community and to people like you.</p>
      {{/column-layout--default}}
      
      {{#> column-layout--default includeGlossary=true }}
        <h3 class="article_headline">What is interest rate risk?</h3>
        <p>When a bank loans you money, it must pay an interest rate back to the Federal Reserve Bank, the central banking system of the United States. Think of it like this: if the bank is your lender, then the Fed is the bank’s lender. Since these interest rates move all the time, the bank is constantly exposed to price <em class="glossary__term" data-term="risk">risks</em> that will shape how much money it loans out, and at what rate.</p>
      {{/column-layout--default}}

      {{#> column-layout--default}}
        <h3 class="article_headline">See how banks use interest rate futures to manage risk.</h3>
      {{/column-layout--default}}

      <a name="theinsandoutsofinterestrates"></a>
      {{> brightcove-video id='theinsandoutsofinterestrates' vid-id='ref:150422interestrates_vsa' }}
      
      {{#> column-layout--default}}
        <h3 class="article_headline">How does all this impact me? </h3>
          <p>Mortgage rates rise and fall along with interest rates. When banks use interest rate futures to manage their interest rate exposure, they are better able to provide you with a competitive mortgage rate because they’ve already locked in their own short- or long-term interest rate. Managing their risk with interest rate futures enables them to loan more money to more people and businesses.</p>

          <h3 class="article_headline">See how interest rate futures affect your everyday life in many ways.</h3>
      {{/column-layout--default}}

      {{#> carousel-container class='interest-rate-container infographic' id='interest_rate_infographic' hide-controls=true data-analytics-category='Interactive Infographic View' data-analytics-action='Interest Rate' data-analytics-label='Slide 1' }}

        {{#> carousel-item--lottie class='title-slide' image='/assets/img/interest-rates/Datagram_IR_01.jpg' active='active'custom-controls=true controls-href='#interest_rate_infographic' custom-controls-text='Learn how' }}
          <div class="carousel-text">
            <h4>How interest rate futures impact your everyday life</h4>
            <p>Interest rate futures play a huge role in our economy, enabling people to buy homes, grow their savings and finance needed purchases. Chances are good that you’ve already benefited from them — or will at some point in your life.</p>
          </div>
        {{/carousel-item--lottie}}

        {{#> carousel-item--lottie id='ir_home' lottie-json='/assets/json/lottie/interest_rates_animation_02.json' controls-href='#interest_rate_infographic' slide-num='1' slide-total='4' }}
          <div class="icon">
            <img src="/assets/img/icons/icon_interest_rates_home_@2x.png">
          </div>
          <div class="carousel-text">
            <div class="slide-num">
              <span class="current">1</span> of 4
            </div>
            <h4>When buying a home</h4>
            <p>One of the most popular types of mortgages is called a “fixed rate” mortgage. This means your interest rate for the loan never changes because the bank has locked it in by using interest rate futures.</p>
          </div>
        {{/carousel-item--lottie}}

        {{#> carousel-item--lottie id='ir_saving' lottie-json='/assets/json/lottie/interest_rates_animation_03.json' controls-href='#interest_rate_infographic' slide-num='2' slide-total='4' }}
          <div class="icon">
            <img src="/assets/img/icons/icon_interest_rates_savings_@2x.png">
          </div>
          <div class="carousel-text">
            <div class="slide-num">
              <span class="current">2</span> of 4
            </div>
            <h4>When opening a savings account</h4>
            <p>Parents often open savings accounts or buy CDs for their children, and they earn interest.  Banks are able to offer you competitive rates for these types of accounts because they use interest rate futures to manage interest rate fluctuations.</p>
          </div>
        {{/carousel-item--lottie}}

        {{#> carousel-item--lottie id='ir_student' lottie-json='/assets/json/lottie/interest_rates_animation_04.json' controls-href='#interest_rate_infographic' slide-num='3' slide-total='4' }}
          <div class="icon">
            <img src="/assets/img/icons/icon_interest_rates_student_@2x.png">
          </div>
          <div class="carousel-text">
            <div class="slide-num">
              <span class="current">3</span> of 4
            </div>
            <h4>When taking out a student loan</h4>
            <p>The total amount you pay for a college loan is affected by its interest rate.  Your bank uses interest rate futures to protect against rate fluctuations and to provide you with a competitive offer for your loan.</p>
          </div>
        {{/carousel-item--lottie}}

        {{#> carousel-item--lottie id='ir_car' lottie-json='/assets/json/lottie/interest_rates_animation_05.json' controls-href='#interest_rate_infographic' restart-control=true slide-num='4' slide-total='4' }}
          <div class="icon">
            <img src="/assets/img/icons/icon_interest_rates_car_@2x.png">
          </div>
          <div class="carousel-text">
            <div class="slide-num">
              <span class="current">4</span> of 4
            </div>
            <h4>When financing a car</h4>
            <p>When you take out a car loan, you’re really agreeing to the interest rate offered by the lender. The lender uses interest rate futures to manage the risk of interest rate fluctuations and offer you a competitive loan. </p>
          </div>
        {{/carousel-item--lottie}}

      {{/carousel-container}}

      {{#with page.related-links}}
        {{> links-related-new }}
      {{/with}}
      
    </div>
  </article>
  
  {{> global--social-share }}
</div>

{{#with page.article-pagination}}
  {{> article-pagination}}
{{/with}}